/* colors */
.yellow {
  background: #ffdb58;
}
.turquoise {
  color: #03cea4;
}
.green {
  background: #68de5c;
}
.purple {
  background: #7e9dff;
}
.lemon {
  background: #c8e629;
}
/* fonts */
.main__content {
  width: 100%;
}
.main__content h1,
.main__content h2 {
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 24px;
  font-weight: normal;
}
.mtop-30 {
  margin-top: 30px;
}
.content {
  height: min-content;
  padding: 20px 20px 20px 228px;
}
.content__block {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.05);
}
.content__block .banking-details input {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #edebeb;
  border-radius: 10px;
  outline: none;
}
.content form input,
.content form select {
  background: #f7f7f7;
  border-color: #dededf;
}
.content .btn-save {
  width: 201px;
  height: 45px;
  margin: 30px auto 0;
  background: #d2f400;
  color: #707070;
  border-radius: 8px;
}
.content .btn-save:hover {
  background: #bcdb00;
}
.settings-item {
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
}
.settings-item__termin {
  width: 25%;
}
.change-pswd input:first-child {
  margin-top: 0 !important;
}
.change-pswd input:not([type="checkbox"]) {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #edebeb;
  border-radius: 10px;
  outline: none;
}
.change-pswd input[type="checkbox"] {
  display: none;
}
.change-pswd input[type="checkbox"] + label {
  display: block;
  position: relative;
  padding-left: 23px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.change-pswd input[type="checkbox"] + label:before {
  content: '';
  display: block;
  width: 15px;
  height: 15px;
  border: 1px solid #3E4D5E;
  position: absolute;
  left: 0;
  top: 5px;
  opacity: .6;
  -webkit-transition: all 0.12s, border-color 0.08s;
  transition: all 0.12s, border-color 0.08s;
}
.change-pswd input[type="checkbox"]:checked + label:before {
  width: 10px;
  top: 2px;
  left: 5px;
  border-radius: 0;
  opacity: 1;
  border-top-color: transparent;
  border-left-color: transparent;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
@media (max-width: 1080px) {
  .main__content {
    padding: 20px;
  }
  .main__content h1 {
    text-align: center;
  }
}
@media (max-width: 991px) {
  .mbttm-30 {
    margin-bottom: 30px;
  }
}
@media (max-width: 425px) {
  .content {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  .content__block {
    border-radius: 0;
  }
}
