.main {
    &__content {
        width: 100%;
    }

    &__content h1,
    &__content h2 {
        padding-top   : 20px;
        padding-bottom: 20px;
        font-size     : 24px;
        font-weight   : normal;
    }
}

.content {
    height : min-content;
    padding: 20px 20px 20px 228px;

    &__block {
        display       : flex;
        flex-direction: column;
        padding       : 30px;
        background    : @white;
        border-radius : 10px;
        box-shadow    : 0 20px 40px rgba(0, 0, 0, 0.05);
    }

    &__block .banking-details input,
    &__block .banking-info input {
        width        : 100%;
        margin-top   : 20px;
        margin-bottom: 20px;
        padding      : 10px;
        border       : 1px solid #edebeb;
        border-radius: 10px;
        outline      : none;
    }

    &__block .import-wallet-block input {
        width        : 30%;
        margin-top   : 20px;
        margin-bottom: 20px;
        margin-right : 20px;
        padding      : 10px;
        border       : 1px solid #edebeb;
        border-radius: 10px;
        outline      : none;
    }

    .form-row {
        margin-right: 0;
        margin-left : 0;
    }

    .form-control {
        height       : 45px;
        border-radius: 10px;
    }

    & form input,
    & form select {
        background  : darken(@white, 3%);
        border-color: lighten(@grey, 15%);
    }

    & form input:focus,
    & form select:focus {
        background: @white;
    }

    & .btn-snd-tokens {
        width        : 264px;
        height       : 45px;
        background   : @light-green;
        color        : #707070;
        border-radius: 8px;
    }

    & .btn-snd-tokens:hover {
        background: darken(@light-green, 5%);
    }

    & .btn-crt-request,
    & .btn-sell {
        width        : 264px;
        height       : 45px;
        background   : @light-green;
        color        : #707070;
        border-radius: 8px;
    }

    & .btn-crt-request:hover,
    & .btn-sell:hover {
        background: darken(@light-green, 5%);
    }

    & .btn-for-import {
        width        : 141px;
        height       : 45px;
        background   : #565555;
        color        : @white;
        border-radius: 8px;
    }

    & .btn-dwnd-report {
        display     : none;
        padding-left: 0;
        color       : #7c9000;
    }

    & .btn-dwnd-report-const {
        display     : flex;
        align-items : center;
        margin-top  : 20px;
        padding-left: 0;
        color       : #7c9000;
    }

    & .btn-add-wallet,
    & .btn-add-user {
        display     : flex;
        align-items : center;
        padding-left: 0;
        color       : #7c9000;
    }

    .btn-add-user {
        margin-top   : 20px;
        margin-bottom: 30px;
    }

    & .btn-dwnd-report ion-icon,
    & .btn-dwnd-report-const ion-icon {
        margin-right: 5px;
    }

    & .btn-snd-tokens--no-active {
        display: none;
    }

    & .btn-dwnd-report--active {
        display    : flex;
        align-items: center;
    }

    & .btn-add-users,
    & .btn-crt-exchange {
        min-width    : 214px;
        height       : 40px;
        background   : @light-green;
        color        : #707070;
        border-radius: 8px;
    }

    & .btn-add-users:hover,
    & .btn-crt-exchange:hover {
        background: darken(@light-green, 5%);
    }

    & .user-exchanges--no-active {
        display: none;
    }

    & .btn-invite-user,
    & .btn-crt {
        width        : 251px;
        height       : 45px;
        background   : @light-green;
        color        : #707070;
        border-radius: 8px;
    }

    & .btn-invite-user:hover,
    & .btn-crt:hover {
        background: darken(@light-green, 5%);
    }

    & .btn-add-tokens {
        height       : 45px;
        margin       : auto 0 1rem 20px;
        color        : @white;
        background   : #707070;
        border-radius: 8px;
    }

    & .btn-add-tokens:hover,
    & .btn-attach-token:hover {
        background: darken(#707070, 10%);
    }

    & .btn-add-tokens--no-active {
        display: none;
    }

    & .btn-attach-token {
        display      : none;
        height       : 45px;
        margin       : auto 0 1rem 20px;
        color        : @white;
        background   : #707070;
        border-radius: 8px;
    }

    & .btn-attach-token--active {
        display: block;
    }

    & .qr-code {
        display   : flex;
        margin-top: 32px;
    }

    & .qr-code--no-active {
        display: none;
    }

    & #qr-code {
        margin: 0 auto;
    }

    & .snd-token-child {
        display: none;
        height : min-content;
        width  : 80%;
        margin : 0 auto;
        padding: 30px;
        border : 2px dashed lighten(@grey, 21%);
    }

    & .snd-token-child--active {
        display: block;
    }

    & .btn-delete {
        margin-top   : 10px;
        padding      : 5px 60px;
        color        : @white;
        font-size    : 18px;
        font-weight  : bold;
        background   : #d93d48;
        border-radius: 8px;
    }

    & .btn-delete:hover {
        background: darken(#d93d48, 10%);
    }

    .btn-save {
        width        : 201px;
        height       : 45px;
        margin       : 30px auto 0;
        background   : @light-green;
        color        : #707070;
        border-radius: 8px;
    }

    .btn-save:hover {
        background: darken(@light-green, 5%);
    }

    .btn-confirm {
        width        : 284px;
        height       : 45px;
        margin       : 30px auto 0;
        background   : @light-green;
        color        : #707070;
        border-radius: 8px;
    }

    .btn-confirm:hover {
        background: darken(@light-green, 5%);
    }

    .btn-for-sent,
    .btn-for-send {
        width        : 187px;
        height       : 45px;
        margin-top   : 30px;
        background   : @light-green;
        color        : #707070;
        border-radius: 8px;
    }

    .btn-for-sent:hover,
    .btn-for-send:hover {
        background: darken(@light-green, 5%);
    }

    .btn-print-pdf {
        display        : flex;
        align-items    : center;
        justify-content: center;
        width          : 150px;
        height         : 45px;
        margin-top     : 30px;
        margin-right   : 10px;
        background     : #565555;
        color          : @white;
        border-radius  : 8px;
    }

    .btn-print-pdf img {
        margin-right: 5px;
    }

    .btn-print-pdf:hover {
        background: darken(#565555, 5%);
    }
}

.list {
    display        : flex;
    flex-direction : row;
    justify-content: flex-start;
    padding        : 0;

    &__item {
        margin-right   : 10px;
        padding        : 4px 10px;
        list-style-type: none;
        cursor         : pointer;
    }

    &__item--active {
        color        : @white;
        background   : #565555;
        border-radius: 5px;
    }
}

.settings-item {
    display       : flex;
    padding-top   : 10px;
    padding-bottom: 10px;

    &__termin {
        width: 25%;
    }

    &__value a {
        color: @dark-blue;
    }

    &__value a:hover {
        text-decoration: none;
    }
}

.confirmed-info-item {
    &__value a {
        color: @dark-blue;
    }

    &__value a:hover {
        text-decoration: none;
    }
}

.buy-token,
.sell-token {
    & .form-group {
        margin-bottom: 20px;
    }

    & label {
        padding-bottom: 10px;
    }
}

.buy-token {
    & .btn-crt-request {
        margin-top   : 20px;
        margin-bottom: 20px;
    }
}

.sell-token {
    & .btn-sell {
        margin-top   : 20px;
        margin-bottom: 20px;
    }
}

.col-lg-2 .buy-token .form-group:first-child input,
.col-lg-2 .sell-token .form-group:first-child input {
    width: 90%;
}

.col-lg-2 .buy-token .form-group:last-child input,
.col-lg-2 .sell-token .form-group:last-child input {
    width: 60%;
}

.change-pswd,
.banking-details {

    & input:first-child {
        margin-top: 0;
    }

    & input:not([type="checkbox"]) {
        width        : 100%;
        margin-top   : 20px;
        margin-bottom: 20px;
        padding      : 10px;
        border       : 1px solid #edebeb;
        border-radius: 10px;
        outline      : none;
    }

    & input[type="checkbox"] {
        display: none;
    }

    & input[type="checkbox"]+label {
        display            : block;
        position           : relative;
        padding-left       : 23px;
        cursor             : pointer;
        -webkit-user-select: none;
        -moz-user-select   : none;
        -ms-user-select    : none;
    }

    & input[type="checkbox"]+label:before {
        content           : '';
        display           : block;
        width             : 15px;
        height            : 15px;
        border            : 1px solid #3E4D5E;
        position          : absolute;
        left              : 0;
        top               : 5px;
        opacity           : .6;
        -webkit-transition: all .12s, border-color .08s;
        transition        : all .12s, border-color .08s;
    }

    & input[type="checkbox"]:checked+label:before {
        width            : 10px;
        top              : 2px;
        left             : 5px;
        border-radius    : 0;
        opacity          : 1;
        border-top-color : transparent;
        border-left-color: transparent;
        -webkit-transform: rotate(45deg);
        transform        : rotate(45deg);
    }
}

.orders {

    display        : flex;
    flex-direction : row;
    color          : #565555;
    text-decoration: none;

    &-header {
        font-weight: bold;
    }

    &-item {
        padding-top: 20px;
    }

    &__amount,
    &__date {
        width  : 22%;
        padding: 0 5px;
    }

    &__otype,
    &__currency,
    &__status {
        width  : 16%;
        padding: 0 5px;
    }

    &__fee {
        width  : 8%;
        padding: 0 5px;
    }

    &__status span {
        display      : inline-block;
        padding      : 0 10px;
        color        : @white;
        border-radius: 5px;
    }
}

.order-info-st {
    color          : #565555;
    text-decoration: none;

    &-header {
        display       : flex;
        flex-direction: row;
        font-weight   : bold;
    }

    &-item {
        display       : flex;
        flex-direction: row;
        padding-top   : 20px;
    }

    &__date {
        width  : 14%;
        padding: 0 5px;
    }

    &__id,
    &__otype,
    &__currency {
        width  : 12%;
        padding: 0 5px;
    }

    &__amount,
    &__status {
        width  : 13%;
        padding: 0 5px;
    }

    &__user {
        width  : 16%;
        padding: 0 5px;
    }

    &__user a {
        color          : @dark-blue;
        text-decoration: none;
        word-break     : break-all;
    }

    &__user a:hover {
        text-decoration: none;
    }

    &__fee {
        width  : 8%;
        padding: 0 5px;
    }
}

.order-info-item,
.confirm-info-item,
.confirmed-info-item {

    display       : flex;
    flex-direction: row;
    padding-top   : 10px;
    padding-bottom: 10px;

    &__termin {
        min-width   : 35%;
        width       : 35%;
        margin-right: 10px;
        font-weight : bold;
    }

    &__value {
        display: flex;
        width  : 65%;
    }
}

.order-info-item {

    &__value a {
        color: @dark-blue;
    }

    &__value a:hover {
        text-decoration: none;
    }

    &__value .yellow {
        padding      : 0 10px;
        color        : @white;
        border-radius: 5px;
    }
}

.confirm-info {
    height         : 100%;
    display        : flex;
    flex-direction : column;
    justify-content: space-around;
}

.confirm-info-item:last-child {
    font-size: 20px;
}

.purse {
    white-space  : nowrap;
    overflow     : hidden;
    text-overflow: ellipsis;
}

.value {
    &__purse {
        white-space  : nowrap;
        overflow     : hidden;
        text-overflow: ellipsis;
        color        : @dark-blue;
    }

    &__purse-copy ion-icon {
        width : 20px;
        height: 20px;
        color : #565555;
    }
}

.users {

    display        : flex;
    flex-direction : row;
    color          : #565555;
    word-wrap      : break-word;
    text-decoration: none;

    &-header {
        font-weight: bold;
    }

    &-item {
        padding-top: 20px;
    }

    &__id {
        width  : 10%;
        padding: 0 5px;
    }

    &__name {
        width  : 20%;
        padding: 0 5px;
    }

    &__email {
        width  : 25%;
        padding: 0 5px;
    }

    &__role,
    &__status {
        width  : 22.5%;
        padding: 0 5px;
    }

    &-item .users__status {
        display    : flex;
        align-items: flex-start;
        color      : #03cea4;
    }

    &-item .users__status ion-icon {
        width       : 20px;
        height      : 20px;
        margin-right: 5px;
    }

    &-item .users__role span {
        display      : inline-block;
        padding      : 0 10px;
        color        : @white;
        border-radius: 5px;
    }
}

.exchange {

    display        : flex;
    flex-direction : row;
    color          : #565555;
    word-wrap      : break-word;
    text-decoration: none;

    &-header {
        font-weight: bold;
    }

    &-item {
        padding-top: 20px;
    }

    &__id {
        width  : 10%;
        padding: 0 5px;
    }

    &__name {
        width  : 20%;
        padding: 0 5px;
    }

    &-item .exchange__name {
        white-space  : nowrap;
        overflow     : hidden;
        text-overflow: ellipsis;
        color        : @dark-blue;
    }

    &__name a,
    &__name a:hover {
        color          : @dark-blue;
        text-decoration: none;
    }

    &__address {
        width  : 25%;
        padding: 0 5px;
    }

    &__balance,
    &__logged {
        width  : 22.5%;
        padding: 0 5px;
    }
}

.title-block {
    display        : flex;
    justify-content: space-between;
    align-items    : center;

    @media (max-width: 425px) {
        flex-direction : column;
        justify-content: center;

        & .change-block {
            padding-bottom: 20px;
        }
    }
}

.transaction {

    display        : flex;
    flex-direction : row;
    color          : #565555;
    text-decoration: none;

    &-header {
        font-weight: bold;
    }

    &-item {
        padding-top: 20px;
    }

    &__date {
        width  : 17%;
        padding: 0 10px;
    }

    &__type {
        width  : 11%;
        padding: 0 10px;
    }

    &__currency {
        width  : 12%;
        padding: 0 10px;
    }

    &__amount {
        width  : 16%;
        padding: 0 10px;
    }

    &-item .transaction__recipient,
    &-item .transaction__txId {
        color        : @dark-blue;
        white-space  : nowrap;
        overflow     : hidden;
        text-overflow: ellipsis;
    }

    &__recipient,
    &__txId {
        width  : 22%;
        padding: 0 10px;
    }

    &__recipient a,
    &__txId a,
    &__recipient a:hover,
    &__txId a:hover {
        color          : @dark-blue;
        text-decoration: none;
    }

    & span {
        display      : inline-block;
        padding      : 0 10px;
        color        : @white;
        font-weight  : bold;
        border-radius: 5px;
    }
}

.transaction-rcv {

    display        : flex;
    flex-direction : row;
    color          : #565555;
    text-decoration: none;

    &-header {
        font-weight: bold;
    }

    &-item {
        padding-top: 20px;
    }

    &__date,
    &__exchange,
    &__amount,
    &__type,
    &__currency {
        width  : 12%;
        padding: 0 10px;
    }

    &-item .transaction-rcv__recipient,
    &-item .transaction-rcv__txId {
        color        : @dark-blue;
        white-space  : nowrap;
        overflow     : hidden;
        text-overflow: ellipsis;
    }

    &__recipient,
    &__txId {
        width  : 20%;
        padding: 0 10px;
    }

    &__recipient a,
    &__txId a,
    &__recipient a:hover,
    &__txId a:hover {
        color          : @dark-blue;
        text-decoration: none;
    }

    & span {
        display      : inline-block;
        padding      : 0 10px;
        color        : @white;
        font-weight  : bold;
        border-radius: 5px;
    }
}

.dashboard {

    display        : flex;
    flex-direction : row;
    color          : #565555;
    text-decoration: none;

    &-header {
        font-weight: bold;
    }

    &-item {
        padding-top: 20px;
    }

    &__name,
    &__amount {
        width  : 30%;
        padding: 0 10px;
    }

    &__balance {
        width  : 40%;
        padding: 0 10px;
    }

    &-item .dashboard__name a,
    &-item .dashboard__name a:hover {
        color          : @dark-blue;
        text-decoration: none;
    }

    &-item {
        position: relative;
    }

    &-item::before {
        content                   : '€';
        position                  : absolute;
        left                      : -60px;
        width                     : 44px;
        height                    : 24px;
        padding-left              : 16px;
        color                     : #7c9000;
        background                : @light-green;
        border-top-right-radius   : 5px;
        border-bottom-right-radius: 5px;
    }
}

.profile {

    &__id::before {
        content     : 'ID';
        width       : 30%;
        min-width   : 30%;
        margin-right: 10px;
        font-weight : bold;
    }

    &__email::before {
        content     : 'Email';
        width       : 30%;
        min-width   : 30%;
        margin-right: 10px;
        font-weight : bold;
    }

    &__balance::before {
        content     : 'Total balance';
        width       : 30%;
        min-width   : 30%;
        margin-right: 10px;
        font-weight : bold;
    }

    &__id,
    &__email,
    &__balance {
        display      : flex;
        width        : 100%;
        margin-bottom: 20px;
        color        : #565555;
    }

    &__email a:first-child {
        color: @dark-blue;
    }

    &__email a,
    &__email a:hover {
        text-decoration: none;
    }

    &__email div:first-child {
        white-space  : nowrap;
        overflow     : hidden;
        text-overflow: ellipsis;
    }

    &__email div:last-child {
        display: flex;
    }

    &__email div:last-child a {
        display    : flex;
        align-items: center;
    }

    &__email ion-icon {
        margin-left: 10px;
        color      : #565555;
    }
}

.transaction-choose {

    display        : flex;
    flex-direction : column;
    color          : #565555;
    text-decoration: none;

    &-header {
        display       : flex;
        flex-direction: row;
        font-weight   : bold;
    }

    &-item {
        display       : flex;
        flex-direction: row;
        padding-top   : 20px;
    }

    &__name {
        width      : 25%;
        margin-left: 35px;
        padding    : 0 10px;
    }

    &__address {
        width  : 30%;
        padding: 0 10px;
    }

    &-item .transaction-choose__address {
        white-space  : nowrap;
        overflow     : hidden;
        text-overflow: ellipsis;
    }

    &__balance {
        width  : 25%;
        padding: 0 10px;
    }

    &__logout {
        width  : 20%;
        padding: 0 10px;
    }

    &-item .transaction-choose__address,
    &-item .transaction-choose__logout {
        color: @dark-blue;
    }

    &__address a,
    &__logout a,
    &__address a:hover,
    &__logout a:hover {
        color          : @dark-blue;
        text-decoration: none;
    }
}

.import-wallet-block {
    margin-top: 30px;
    border-top: 1px solid @grey;

    p {
        padding-top: 30px;
        font-weight: bold;
    }
}

.block-confirm {
    display: none;
}

.block-check-confirm {
    display: none;

    &--fail {
        display: none;
    }
}

h2.turquoise,
h2.cherry {
    display    : flex;
    align-items: center;
}

h2.turquoise ion-icon,
h2.cherry ion-icon {
    width       : 30px;
    height      : 30px;
    margin-right: 5px;
}

.radio-wrapper {
    min-height   : 60px;
    height       : auto;
    width        : 100%;
    line-height  : 1.3;
    border-radius: 10px;
    cursor       : pointer;

    position      : relative;
    padding-left  : 50px;
    padding-top   : 10px;
    padding-bottom: 10px;
    background    : #fafafa;
    border        : 1px solid #edebeb;

    &::before {
        content   : ' ';
        position  : absolute;
        top       : 25%;
        left      : 10px;
        width     : 30px;
        height    : 30px;
        background: url('../img/bank-light.svg');
    }

    & .bank-card-num {
        color: #b7b8b9;
    }
}

input:checked+label .radio-wrapper {
    min-height   : 60px;
    height       : auto;
    width        : 100%;
    line-height  : 1.3;
    border-radius: 10px;
    cursor       : pointer;

    position      : relative;
    padding-left  : 50px;
    padding-top   : 10px;
    padding-bottom: 10px;
    background    : #f4f4f4;
    border        : 1px solid #979797;


    &::before {
        content   : ' ';
        position  : absolute;
        top       : 25%;
        left      : 10px;
        width     : 30px;
        height    : 30px;
        background: url('../img/bank-dark.svg');
    }
}

input[type="radio"] {
    display: none;
}

input[type="radio"]+label {
    position: relative;
}

input[type="radio"]+label::before {
    content   : ' ';
    position  : absolute;
    top       : 20px;
    left      : 0;
    width     : 24px;
    height    : 24px;
    background: url('../img/radiobutton-na.svg');
    cursor    : pointer;
}

input[type="radio"]:checked+label::before {
    content   : ' ';
    position  : absolute;
    top       : 20px;
    left      : 0;
    width     : 24px;
    height    : 24px;
    background: url('../img/radiobutton-a.svg');
    cursor    : pointer;
}

@media (min-width: 1440px) {
    .main {

        &__content h1,
        &__content h1 span,
        &__content h2 {
            padding-top   : 1.1vw;
            padding-bottom: 1.1vw;
            font-size     : 1.7vw;
        }
    }

    .content {
        padding: 1.2vw 1.1vw 1.1vw 16.1vw;

        &__block {
            padding      : 2.5vw;
            border-radius: 0.5vw;
        }

        & .btn-add-users,
        & .btn-crt-exchange {
            height       : 2.5vw;
            border-radius: 0.5vw;
        }

        .form-control {
            height       : 3vw;
            border-radius: 0.5vw;
        }

        & .btn-crt-request,
        & .btn-sell {
            width        : 22vw;
            height       : 3vw;
            border-radius: 0.5vw;
        }

        &__block .banking-details input,
        &__block .banking-info input {
            margin-top   : 1.1vw;
            margin-bottom: 1.1vw;
            padding      : 0.5vw;
            border-radius: 0.5vw;
        }

        &__block .import-wallet-block input {
            margin-top   : 1.1vw;
            margin-bottom: 1.1vw;
            margin-right : 1.1vw;
            padding      : 0.5vw;
            border-radius: 0.vw;
        }

        & .btn-snd-tokens {
            width        : 18.5vw;
            height       : 3vw;
            border-radius: 0.5vw;
        }

        & .btn-for-import {
            width        : 9.9vw;
            height       : 3vw;
            border-radius: 0.5vw;
        }

        & .btn-dwnd-report-const {
            margin-top: 1.1vw;
        }

        .btn-add-user {
            margin-top   : 1.1vw;
            margin-bottom: 1.7vw;
        }

        & .btn-dwnd-report ion-icon,
        & .btn-dwnd-report-const ion-icon {
            margin-right: 0.2vw;
        }

        & .btn-invite-user,
        & .btn-crt {
            width: 17.5vw;
            height          : 3vw;
            border-radius   : 0.5vw;
        }

        & .btn-add-tokens,
        & .btn-attach-token {
            height       : 3vw;
            margin       : auto 0 1rem 1.1vw;
            border-radius: 0.5vw;
        }

        & .qr-code {
            margin-top: 2vw;
        }


        & .qr-code canvas {
            width : 11vw;
            height: 11vw;
        }

        & .snd-token-child {
            padding: 1.9vw;
        }

        & .btn-delete {
            margin-top   : 0.6vw;
            padding      : 0.4vw 4.2vw;
            font-size    : 1.1vw;
            border-radius: 0.5vw;
        }

        .btn-save {
            width        : 14vw;
            height       : 3vw;
            border-radius: 0.5vw;
            margin       : 2vw auto 0;
        }

        .btn-confirm {
            width        : 19.8vw;
            height       : 3vw;
            margin       : 1.9vw auto 0;
            border-radius: 0.5vw;
        }

        .btn-for-sent,
        .btn-for-send {
            width        : 13vw;
            height       : 3vw;
            margin-top   : 1.7vw;
            border-radius: 0.5vw;
        }

        .btn-print-pdf {
            // width        : 150px;
            height          : 3vw;
            margin-top      : 1.7vw;
            margin-right    : 0.6vw;
            border-radius   : 0.5vw;
        }

        .btn-print-pdf img {
            margin-right: 0.2vw;
        }
    }

    .dashboard {

        &-item {
            padding-top: 1.1vw;
        }

        &__name,
        &__amount,
        &__balance {
            padding: 0 0.5vw;
        }

        &-item::before {
            left        : -4vw;
            width       : 3vw;
            height      : 1.4vw;
            padding-left: 1vw;
        }
    }

    .pl-4v {
        padding-left: 4vw;
    }

    .transaction {
        &-item {
            padding-top: 1.1vw;
        }

        &__date,
        &__type,
        &__currency,
        &__amount,
        &__recipient,
        &__txId {
            padding: 0 0.5vw;
        }

        & span {
            padding      : 0 0.5vw;
            border-radius: 0.5vw;
        }
    }

    .buy-token,
    .sell-token {
        & .form-group {
            margin-bottom: 1.1vw;
        }

        & label {
            padding-bottom: 0.5vw;
        }
    }

    .buy-token {
        & .btn-crt-request {
            margin-top   : 1.1vw;
            margin-bottom: 1.1vw;
        }
    }

    .sell-token {
        & .btn-sell {
            margin-top   : 1.1vw;
            margin-bottom: 1.1vw;
        }
    }

    .settings-item {
        padding-top   : 0.5vw;
        padding-bottom: 0.5vw;
    }

    .orders {

        &-item {
            padding-top: 1.1vw;
        }

        &__amount,
        &__date,
        &__otype,
        &__currency,
        &__status,
        &__fee {
            padding: 0 0.2vw;
        }

        &__status span {
            padding      : 0 0.5vw;
            border-radius: 0.5vw;
        }
    }

    .order-info-st {

        &-item {
            padding-top: 1.1vw;
        }

        &__date,
        &__id,
        &__otype,
        &__currency,
        &__amount,
        &__status,
        &__user,
        &__fee {
            padding: 0 0.2vw;
        }

    }

    .order-info-item,
    .confirm-info-item,
    .confirmed-info-item {

        padding-top   : 0.5vw;
        padding-bottom: 0.5vw;

        &__termin {
            margin-right: 0.5vw;
        }
    }

    .order-info-item {

        &__value .yellow {
            padding      : 0 0.5vw;
            border-radius: 0.5vw;
        }
    }

    .confirm-info-item:last-child {
        font-size: 1.1vw;
    }

    .value {

        &__purse-copy ion-icon {
            width : 1.1vw;
            height: 1.1vw;
        }
    }

    .users {

        &-item {
            padding-top: 20px;
        }

        &__id,
        &__name,
        &__email,
        &__role,
        &__status {
            padding: 0 0.2vw;
        }

        &-item .users__status ion-icon {
            width       : 1.1vw;
            height      : 1.1vw;
            margin-right: 0.2vw;
        }

        &-item .users__role span {
            padding      : 0 0.5vw;
            border-radius: 0.5vw;
        }
    }

    .exchange {

        &-item {
            padding-top: 1.1vw;
        }

        &__id,
        &__name,
        &__address,
        &__balance,
        &__logged {
            padding: 0 0.2vw;
        }
    }

    .transaction-rcv {

        &-item {
            padding-top: 1.1vw;
        }

        &__date,
        &__exchange,
        &__amount,
        &__type,
        &__currency,
        &__recipient,
        &__txId {
            padding: 0 0.5vw;
        }

        & span {
            padding      : 0 0.5vw;
            border-radius: 0.5vw;
        }
    }

    .profile {

        &__id::before,
        &__email::before,
        &__balance::before {
            margin-right: 0.5vw;
        }

        &__id,
        &__email,
        &__balance {
            margin-bottom: 1.1vw;
        }

        &__email ion-icon {
            margin-left: 0.5vw;
        }
    }

    .transaction-choose {

        &-item {
            padding-top: 1.1vw;
        }

        &__name {
            margin-left: 2.5vw;
            padding    : 0 0.5vw;
        }

        &__address {
            padding: 0 0.5vw;
        }

        &__balance {
            padding: 0 0.5vw;
        }

        &__logout {
            padding: 0 0.5vw;
        }
    }

    .change-pswd,
    .banking-details {

        & input:not([type="checkbox"]) {
            margin-top   : 1.1vw;
            margin-bottom: 1.1vw;
            padding      : 0.6vw;
            border-radius: 0.6vw;
        }

        & input[type="checkbox"]+label {
            padding-left: 1.5vw;
        }

        & input[type="checkbox"]+label:before {
            width : 1vw;
            height: 1vw;
            top   : 0.2vw;
        }

        & input[type="checkbox"]:checked+label:before {
            width: 0.5vw;
            top  : 0.1vw;
            left : 0.2vw;
        }
    }

    .import-wallet-block {
        margin-top: 1.7vw;

        p {
            padding-top: 1.7vw;
        }
    }

    h2.turquoise ion-icon,
    h2.cherry ion-icon {
        width       : 1.7vw;
        height      : 1.7vw;
        margin-right: 0.2vw;
    }

    input:checked+label .radio-wrapper,
    .radio-wrapper {
        min-height    : 3.8vw;
        border-radius : 0.6vw;
        padding-left  : 3.2vw;
        padding-top   : 0.6vw;
        padding-bottom: 0.6vw;

        &::before {
            left             : 0.6vw;
            width            : 1.7vw;
            height           : 1.7vw;
            background-size  : contain;
            background-repeat: no-repeat;
        }
    }

    input[type="radio"]+label::before {
        top              : 1.1vw;
        width            : 1.5vw;
        height           : 1.5vw;
        background-repeat: no-repeat;
        background-size  : contain;
    }

    input[type="radio"]:checked+label::before {
        top              : 1.1vw;
        width            : 1.5vw;
        height           : 1.5vw;
        background-repeat: no-repeat;
        background-size  : contain;
    }
}

@media (max-width: 1080px) {
    .main {

        &__content {
            padding: 30px;
        }

        &__content h1,
        &__content h2 {
            text-align: center;
        }
    }

    .snd-token-child {
        & .btn-delete {
            display        : flex;
            justify-content: center;
        }
    }
}

@media (max-width: 980px) {

    .content {

        .qr-code {
            margin: 20px auto;
        }

        .snd-token-child {
            width : 100%;
            margin: 20px auto;
        }
    }

    .col-lg-2 .buy-token,
    .col-lg-2 .sell-token {
        display: flex;
    }

    .col-lg-2 .buy-token .form-group:first-child,
    .col-lg-2 .sell-token .form-group:first-child {
        width: 70%;
    }

    .col-lg-2 .buy-token .form-group:last-child,
    .col-lg-2 .sell-token .form-group:last-child {
        width: 70%;
    }
}

@media (max-width: 850px) {

    .transaction-rcv {
        flex-direction: column;

        &-header {
            display: none;
        }

        &-item {
            margin-bottom: 10px;

            & .transaction-rcv__date,
            & .transaction-rcv__exchange,
            & .transaction-rcv__type,
            & .transaction-rcv__currency,
            & .transaction-rcv__amount,
            & .transaction-rcv__recipient,
            & .transaction-rcv__txId {
                display      : flex;
                width        : 100%;
                margin-bottom: 10px;
                color        : #565555;
            }

            & .transaction-rcv__recipient a,
            & .transaction-rcv__txId a {
                width        : 70%;
                white-space  : nowrap;
                overflow     : hidden;
                text-overflow: ellipsis;
            }

            & .transaction-rcv__date::before {
                content     : 'Date';
                width       : 30%;
                margin-right: 10px;
                font-weight : bold;
            }

            & .transaction-rcv__exchange::before {
                content     : 'Exchange';
                width       : 30%;
                margin-right: 10px;
                font-weight : bold;
            }

            & .transaction-rcv__type::before {
                content     : 'Type';
                width       : 30%;
                margin-right: 10px;
                font-weight : bold;
            }

            & .transaction-rcv__currency::before {
                content     : 'Currency';
                width       : 30%;
                margin-right: 10px;
                font-weight : bold;
            }

            & .transaction-rcv__amount::before {
                content     : 'Amount';
                width       : 30%;
                margin-right: 10px;
                font-weight : bold;
            }

            & .transaction-rcv__recipient::before {
                content     : 'Recipient';
                width       : 30%;
                margin-right: 10px;
                font-weight : bold;
            }

            & .transaction-rcv__txId::before {
                content     : 'Tx Id';
                width       : 30%;
                margin-right: 10px;
                font-weight : bold;
            }
        }
    }

    .transaction-choose {

        &-header {
            display: none;
        }

        &-item {
            flex-direction: column;
            margin-left   : 5px;

            & .transaction-choose__name {
                margin-left: 0;
            }

            & .transaction-choose__name,
            & .transaction-choose__address,
            & .transaction-choose__balance,
            & .transaction-choose__logout {
                display      : flex;
                align-items  : center;
                width        : 100%;
                margin-bottom: 10px;
                color        : #565555;
            }

            & .transaction-choose__name::before {
                content     : 'Name';
                width       : 30%;
                margin-right: 10px;
                font-weight : bold;
            }

            & .transaction-choose__address::before {
                content     : 'Address';
                width       : 30%;
                margin-right: 10px;
                font-weight : bold;
            }

            & .transaction-choose__balance::before {
                content     : 'Total balance in Euro';
                width       : 30%;
                margin-right: 10px;
                font-weight : bold;
            }

            & .transaction-choose__logout::before {
                content     : 'Logout wallet';
                width       : 30%;
                margin-right: 10px;
                font-weight : bold;
            }

            & .transaction-choose__address a {
                width        : 70%;
                white-space  : nowrap;
                overflow     : hidden;
                text-overflow: ellipsis;
            }
        }

        & input[type="radio"]+label::before {
            top : 50%;
            left: -20px;
        }

        & input[type="radio"]:checked+label::before {
            top : 50%;
            left: -20px;
        }
    }

    .content {

        & .import-wallet-form input {
            width: 100%;
        }

        & .import-wallet-form .btn-for-import {
            display        : flex;
            justify-content: center;
            margin         : 0 auto;
            margin-top     : 20px;
        }

    }
}

@media (max-width: 705px) {

    .orders {
        flex-direction: column;

        &-header {
            display: none;
        }

        &-item {
            margin-bottom: 10px;

            & .orders__date,
            & .orders__otype,
            & .orders__currency,
            & .orders__amount,
            & .orders__status,
            & .orders__fee {
                display      : flex;
                width        : 100%;
                margin-bottom: 10px;
                color        : #565555;
            }

            & .orders__date::before {
                content     : 'Date';
                width       : 30%;
                margin-right: 10px;
                font-weight : bold;
            }

            & .orders__otype::before {
                content     : 'Order Type';
                width       : 30%;
                margin-right: 10px;
                font-weight : bold;
            }

            & .orders__currency::before {
                content     : 'Currency';
                width       : 30%;
                margin-right: 10px;
                font-weight : bold;
            }

            & .orders__amount::before {
                content     : 'Amount';
                width       : 30%;
                margin-right: 10px;
                font-weight : bold;
            }

            & .orders__status::before {
                content     : 'Status';
                width       : 30%;
                margin-right: 10px;
                font-weight : bold;
            }

            & .orders__fee::before {
                content     : 'Fee %';
                width       : 30%;
                margin-right: 10px;
                font-weight : bold;
            }
        }
    }

    .users {
        flex-direction: column;

        &-header {
            display: none;
        }

        &-item {
            margin-bottom: 10px;

            & .users__id,
            & .users__name,
            & .users__email,
            & .users__role,
            & .users__status {
                display      : flex;
                width        : 100%;
                margin-bottom: 10px;
                color        : #565555;
            }

            & .users__id::before {
                content     : 'ID';
                width       : 30%;
                margin-right: 10px;
                font-weight : bold;
            }

            & .users__name::before {
                content     : 'Name';
                width       : 30%;
                margin-right: 10px;
                font-weight : bold;
            }

            & .users__email::before {
                content     : 'Email';
                width       : 30%;
                margin-right: 10px;
                font-weight : bold;
            }

            & .users__role::before {
                content     : 'Role';
                width       : 30%;
                margin-right: 10px;
                font-weight : bold;
            }

            & .users__status::before {
                content     : 'Status';
                width       : 30%;
                margin-right: 10px;
                color       : #565555;
                font-weight : bold;
            }

            & .users__status {
                color: #03cea4;
            }
        }
    }

    .dashboard {
        &-header {
            display: none;
        }

        &-item {
            display       : flex;
            flex-direction: column;
        }

        &__name,
        &__amount,
        &__balance {
            display      : flex;
            width        : 100%;
            margin-bottom: 10px;
            padding      : 0;
        }

        &__name::before {
            content     : 'Token Name';
            width       : 40%;
            margin-right: 10px;
            font-weight : bold;
        }

        &__amount::before {
            content     : 'Amount';
            width       : 40%;
            margin-right: 10px;
            font-weight : bold;
        }

        &__balance::before {
            content     : 'Balance in €';
            width       : 40%;
            margin-right: 10px;
            font-weight : bold;
        }
    }

    .exchange {
        flex-direction: column;

        &-header {
            display: none;
        }

        &-item {
            margin-bottom: 10px;

            & .exchange__id,
            & .exchange__name,
            & .exchange__address,
            & .exchange__balance,
            & .exchange__logged {
                display      : flex;
                width        : 100%;
                margin-bottom: 10px;
                color        : #565555;
            }

            & .exchange__name a {
                width        : 70%;
                white-space  : nowrap;
                overflow     : hidden;
                text-overflow: ellipsis;
            }

            & .exchange__id::before {
                content     : 'ID';
                width       : 30%;
                margin-right: 10px;
                font-weight : bold;
            }

            & .exchange__name::before {
                content     : 'Exchange Name';
                width       : 30%;
                margin-right: 10px;
                white-space : pre-wrap;
                font-weight : bold;
            }

            & .exchange__address::before {
                content     : 'Address';
                width       : 30%;
                margin-right: 10px;
                font-weight : bold;
            }

            & .exchange__balance::before {
                content     : 'Total Balance';
                width       : 30%;
                margin-right: 10px;
                font-weight : bold;
            }

            & .exchange__logged::before {
                content     : 'Logged Users';
                width       : 30%;
                margin-right: 10px;
                color       : #565555;
                font-weight : bold;
            }
        }
    }

    .transaction {
        flex-direction: column;

        &-header {
            display: none;
        }

        &-item {
            margin-bottom: 10px;

            & .transaction__date,
            & .transaction__type,
            & .transaction__currency,
            & .transaction__amount,
            & .transaction__recipient,
            & .transaction__txId {
                display      : flex;
                width        : 100%;
                margin-bottom: 10px;
                color        : #565555;
            }

            & .transaction__recipient a,
            & .transaction__txId a {
                width        : 70%;
                white-space  : nowrap;
                overflow     : hidden;
                text-overflow: ellipsis;
            }

            & .transaction__date::before {
                content     : 'Date';
                width       : 30%;
                margin-right: 10px;
                font-weight : bold;
            }

            & .transaction__type::before {
                content     : 'Type';
                width       : 30%;
                margin-right: 10px;
                font-weight : bold;
            }

            & .transaction__currency::before {
                content     : 'Currency';
                width       : 30%;
                margin-right: 10px;
                font-weight : bold;
            }

            & .transaction__amount::before {
                content     : 'Amount';
                width       : 30%;
                margin-right: 10px;
                font-weight : bold;
            }

            & .transaction__recipient::before {
                content     : 'Recipient';
                width       : 30%;
                margin-right: 10px;
                font-weight : bold;
            }

            & .transaction__txId::before {
                content     : 'Tx Id';
                width       : 30%;
                margin-right: 10px;
                font-weight : bold;
            }
        }
    }
}

@media (max-width: 600px) {
    .content {

        & .form-row .form-group {
            display: block;
            width  : 100%;
        }

        & .form-row .btn-add-tokens,
        & .btn-attach-token {
            width : 100%;
            margin: 0 0 1rem 0;
        }

        & .btn-snd-tokens {
            width     : 100%;
            height    : 45px;
            background: @light-green;
            color     : #707070;
        }

        & .btn-delete {
            width: 100%;
        }

        & .btn-crt-request,
        & .btn-sell,
        & .btn-for-send {
            width: 100%;
        }
    }

    .col-lg-2 .buy-token .form-group:first-child,
    .col-lg-2 .sell-token .form-group:first-child {
        width: 170%;
    }

    .col-lg-2 .buy-token .form-group:last-child,
    .col-lg-2 .sell-token .form-group:last-child {
        width: 100%;
    }

    .col-lg-2 .buy-token .form-group:last-child input,
    .col-lg-2 .sell-token .form-group:last-child input {
        width: 100%;
    }

    .btn-add-wallet {
        margin-top: 20px;
    }

    & h1 span {
        display: block;
    }

    & .list {
        display        : flex;
        justify-content: center;
    }
}

@media (max-width: 425px) {
    .content {
        padding-left : 0 !important;
        padding-right: 0 !important;

        h1 {
            width : 70%;
            margin: 0 auto;
        }

        h2.turquoise,
        h2.cherry {
            justify-content: center;
        }

        .block-check-confirm--success,
        .block-check-confirm--fail,
        .confirmed-message h2,
        .confirmed-message p {
            text-align: center;
        }

        &__block {
            border-radius: 0;
        }

        & .btn-for-import {
            width: 100%;
        }
    }
}