/* colors */
.yellow {
  background: #ffdb58;
}
.turquoise {
  color: #03cea4;
}
.green {
  background: #68de5c;
}
.purple {
  background: #7e9dff;
}
.lemon {
  background: #c8e629;
}
/* fonts */
.header {
  position: absolute;
  width: 100%;
  padding: 16px 20px 16px 60px;
  background: #fff;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.05);
  z-index: 50;
}
.header__navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .logo__img {
  max-width: 99px;
}
.header .logo__img-mob {
  display: none;
}
.navigation__contacts a {
  margin-left: 40px;
  color: #3da5d9;
}
.navigation__contacts a:hover {
  text-decoration: none;
}
.navigation__dropdown {
  position: relative;
  width: 140px;
  margin-left: auto;
  padding: 16px;
  background: #fafafa;
  color: #565555;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
}
.navigation__dropdown span ion-icon {
  display: block;
  position: absolute;
  top: 35%;
  right: 10px;
}
.navigation__dropdown.active ul {
  opacity: 1;
  pointer-events: auto;
}
.navigation__theme {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 40px;
}
.navigation__theme::before {
  content: ' ';
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 5px;
  background: #707070;
  border-radius: 50%;
}
.navigation__log-out a {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
  padding: 10px 15px;
  color: #fff;
  background: #707070;
  border-radius: 10px;
}
.navigation__log-out a:hover {
  text-decoration: none;
  background: #575757;
}
.navigation__log-out ion-icon {
  margin-right: 10px;
}
.navigation__dropdown ul {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  padding: 0;
  background: #fff;
  border-radius: 5px;
  font-weight: normal;
  list-style-type: none;
  opacity: 0;
  pointer-events: none;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.05);
  z-index: 10;
}
.navigation__dropdown ul a {
  display: block;
  text-decoration: none;
  color: #b7b8b9;
  padding: 16px;
}
.navigation__dropdown ul li:not(:first-child) a::after {
  content: ' ';
  position: absolute;
  background: #ebebeb;
  height: 1px;
  width: 80%;
  margin: -17px;
  left: 33px;
}
.navigation__dropdown ul li:hover a {
  background: #f7f7f7;
}
.navigation__burger {
  position: relative;
  display: block;
  width: 30px;
  height: 30px;
  background-color: inherit;
  z-index: 100;
  cursor: pointer;
}
.navigation__burger span {
  position: absolute;
  top: 50%;
  height: 4px;
  width: 30px;
  margin-left: 0px;
  background: #3E4D5E;
}
.navigation__burger span::before {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 4px;
  width: 30px;
  margin-top: -5px;
  margin-left: -15px;
  background: #3E4D5E;
}
.navigation__burger span::after {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 4px;
  width: 30px;
  margin-top: 1px;
  margin-left: -15px;
  background: #3E4D5E;
}
.navigation__burger span::before,
.navigation__burger span::after {
  content: '';
  display: block;
  transition: 0.4s;
}
.navigation__burger span::before {
  transform: translateY(-5px);
}
.navigation__burger span::after {
  transform: translateY(5px);
}
.navigation__burger--active span {
  height: 0;
}
.navigation__burger--active span:before {
  background: white;
  transform: translateY(5px) rotate(45deg);
}
.navigation__burger--active span:after {
  background: white;
  transform: rotate(135deg);
}
.menu-popup {
  position: fixed;
  top: 0;
  right: 0%;
  display: none;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: #dededf;
  z-index: 99;
  transition: 0.5s;
  transform: translateY(-100%);
}
.menu-popup--active {
  transform: translateY(0%);
}
.menu-popup__list {
  position: absolute;
  top: 35%;
  left: 50%;
  padding: 0;
  margin: 0;
  list-style: none;
  transform: translate(-50%, -50%);
  z-index: inherit;
}
.menu-popup__item {
  margin: 20px auto;
  text-align: center;
}
.menu-popup__item a {
  font-size: 22px;
  font-weight: 700;
  color: white !important;
}
.menu-popup__item a:hover {
  text-decoration: none;
  color: #3E4D5D !important;
  transition: 100ms;
}
.menu-popup__theme {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 20px;
  text-align: center;
}
.menu-popup__theme::before {
  content: ' ';
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 5px;
  background: #707070;
  border-radius: 50%;
}
.menu-popup__dropdown {
  position: relative;
  width: 220px;
  margin: 0 auto;
  padding: 16px;
  background: #fafafa;
  color: #565555;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
}
.menu-popup__dropdown span ion-icon {
  display: block;
  position: absolute;
  top: 35%;
  right: 10px;
}
.menu-popup__dropdown.active ul {
  opacity: 1;
  pointer-events: auto;
}
.menu-popup__dropdown ul {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  padding: 0;
  background: #fff;
  border-radius: 5px;
  font-weight: normal;
  list-style-type: none;
  opacity: 0;
  pointer-events: none;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.05);
  z-index: 10;
}
.menu-popup__dropdown ul a {
  display: block;
  text-decoration: none;
  color: #b7b8b9;
  padding: 16px;
}
.menu-popup__log-out {
  position: absolute;
  top: 75%;
  left: 50%;
  width: 220px;
  padding: 0;
  margin: 0;
  list-style: none;
  transform: translate(-50%, -50%);
  z-index: 9;
}
.menu-popup__log-out a {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
  padding: 10px 15px;
  color: #fff;
  background: #707070;
  border-radius: 10px;
  z-index: 9;
}
.menu-popup__log-out a:hover {
  text-decoration: none;
  background: #575757;
  z-index: 9;
}
.menu-popup__log-out ion-icon {
  margin-right: 10px;
  z-index: 9;
}
.popup-succ {
  position: fixed;
  top: 140px;
  right: 20px;
  display: none;
  width: 380px;
  padding: 30px;
  color: #565555;
  background: #fff;
  border-radius: 20px;
  box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.05);
  transition: 1s all;
}
.popup-succ--before {
  display: block;
  position: fixed;
  opacity: 0;
}
.popup-succ--active {
  opacity: 1;
}
.popup-succ h4 {
  margin: auto 0;
  font-size: 16px;
  font-weight: bold;
}
.popup-succ p {
  margin-bottom: auto;
  padding-top: 15px;
  font-size: 14px;
}
.popup-succ__close {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 10px;
  right: 10px;
  color: #565555;
  cursor: pointer;
}
.popup-succ__close ion-icon {
  width: 100%;
  height: 100%;
}
.forMob {
  display: none;
}
.forDesk {
  display: block;
}
@media (max-width: 1080px) {
  .forMob {
    display: block;
  }
  .forDesk {
    display: none;
  }
  .header {
    padding: 16px 20px;
  }
  .header__navigation {
    display: flex;
    flex-direction: row;
  }
  .header .logo__img {
    display: none;
  }
  .header .logo__img-mob {
    display: block;
  }
}
