.header {
    position  : absolute;
    width     : 100%;
    padding   : 16px 20px 16px 60px;
    background: @white;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.05);
    z-index   : 50;

    &__navigation {
        display        : flex;
        align-items    : center;
        justify-content: space-between;
    }

    & .logo__img {
        // max-width: 99px;
        width       : 6vw;
    }

    & .logo__img-mob {
        display: none;
    }
}

.navigation {

    &__contacts a,
    &__back a {
        margin-left: 50px;
        color      : #3da5d9;
    }

    &__contacts a:hover,
    &__back a:hover {
        text-decoration: none;
    }

    &__dropdown {
        position     : relative;
        min-width    : 140px;
        margin-left  : auto;
        padding      : 16px;
        background   : @light-grey;
        color        : @dark-grey;
        border-radius: 5px;
        outline      : none;
        cursor       : pointer;
    }

    &__dropdown span ion-icon {
        display : block;
        position: absolute;
        top     : 35%;
        right   : 10px;
    }

    &__dropdown.active ul {
        opacity       : 1;
        pointer-events: auto;
    }

    &__theme,
    &__admin-theme {
        display       : flex;
        flex-direction: row;
        align-items   : center;
        margin        : 0 40px;
    }

    &__admin-theme ion-icon {
        width       : 16px;
        height      : 16px;
        margin-right: 5px;
    }

    &__theme::before {
        content      : ' ';
        display      : inline-block;
        width        : 10px;
        height       : 10px;
        margin-right : 5px;
        background   : #707070;
        border-radius: 50%;
    }

    &__log-out a {
        display       : flex;
        flex-direction: row;
        align-items   : center;
        flex-wrap     : nowrap;
        padding       : 10px 15px;
        color         : @white;
        background    : #707070;
        border-radius : 10px;
    }

    &__log-out a:hover {
        text-decoration: none;
        background     : darken(#707070, 10%);
    }

    &__log-out ion-icon {
        margin-right: 10px;
    }

    &__dropdown ul {
        position       : absolute;
        top            : 100%;
        left           : 0;
        right          : 0;
        padding        : 0;
        background     : #fff;
        border-radius  : 5px;
        font-weight    : normal;
        list-style-type: none;
        opacity        : 0;
        pointer-events : none;
        box-shadow     : 0 10px 25px rgba(0, 0, 0, 0.05);
        z-index        : 10;
    }

    &__dropdown ul a {
        display        : block;
        text-decoration: none;
        color          : @grey;
        padding        : 16px;
    }

    &__dropdown ul li:not(:first-child) a::after {
        content   : ' ';
        position  : absolute;
        background: lighten(@grey, 20%);
        height    : 1px;
        margin    : -17px;
        left      : 33px;
        right: 33px;
    }

    &__dropdown ul li:hover a {
        background: darken(@light-grey, 1%);
    }

    &__burger {
        position        : relative;
        display         : block;
        width           : 30px;
        height          : 30px;
        background-color: inherit;
        z-index         : 100;
        cursor          : pointer;
    }

    &__burger span {
        position   : absolute;
        top        : 50%;
        height     : 4px;
        width      : 30px;
        margin-left: 0px;
        background : #3E4D5E;
    }

    &__burger span::before {
        position   : absolute;
        top        : 50%;
        left       : 50%;
        height     : 4px;
        width      : 30px;
        margin-top : -5px;
        margin-left: -15px;
        background : #3E4D5E;
    }

    &__burger span::after {
        position   : absolute;
        top        : 50%;
        left       : 50%;
        height     : 4px;
        width      : 30px;
        margin-top : 1px;
        margin-left: -15px;
        background : #3E4D5E;
    }

    &__burger span::before,
    &__burger span::after {
        content   : '';
        display   : block;
        transition: 0.4s;
    }

    &__burger span::before {
        transform: translateY(-5px);
    }

    &__burger span::after {
        transform: translateY(5px);
    }

    &__burger--active span {
        height: 0;
    }

    &__burger--active span:before {
        background: white;
        transform : translateY(5px) rotate(45deg);
    }

    &__burger--active span:after {
        background: white;
        transform : rotate(135deg);
    }
}


.menu-popup {
    position  : fixed;
    top       : 0;
    right     : 0%;
    display   : none;
    margin    : 0;
    padding   : 0;
    width     : 100%;
    height    : 100%;
    background: lighten(@grey, 15%);
    z-index   : 99;
    transition: 0.5s;
    transform : translateY(-100%);

    &--active {
        transform: translateY(0%);
    }

    &__list {
        position  : absolute;
        top       : 35%;
        left      : 50%;
        padding   : 0;
        margin    : 0;
        list-style: none;
        transform : translate(-50%, -50%);
        z-index   : inherit;
    }

    &__item {
        margin    : 20px auto;
        text-align: center;
    }

    &__item a {
        font-size  : 22px;
        font-weight: 700;
        color      : white !important;
    }

    &__item a:hover {
        text-decoration: none;
        color          : #3E4D5D !important;
        transition     : 100ms;
    }

    &__theme,
    &__admin-theme {
        display       : flex;
        flex-direction: row;
        align-items   : center;
        margin        : 20px;
        text-align    : center;
    }

    &__theme::before {
        content      : ' ';
        display      : inline-block;
        width        : 10px;
        height       : 10px;
        margin-right : 5px;
        background   : #707070;
        border-radius: 50%;
    }

    &__dropdown {
        position     : relative;
        width        : 220px;
        margin       : 0 auto;
        padding      : 16px;
        background   : @light-grey;
        color        : @dark-grey;
        border-radius: 5px;
        outline      : none;
        cursor       : pointer;
    }

    &__dropdown span ion-icon {
        display : block;
        position: absolute;
        top     : 35%;
        right   : 10px;
    }

    &__dropdown.active ul {
        opacity       : 1;
        pointer-events: auto;
    }

    &__dropdown ul {
        position       : absolute;
        top            : 100%;
        left           : 0;
        right          : 0;
        padding        : 0;
        background     : #fff;
        border-radius  : 5px;
        font-weight    : normal;
        list-style-type: none;
        opacity        : 0;
        pointer-events : none;
        box-shadow     : 0 10px 25px rgba(0, 0, 0, 0.05);
        z-index        : 10;
    }

    &__dropdown ul a {
        display        : block;
        text-decoration: none;
        color          : @grey;
        padding        : 16px;
    }

    &__log-out {
        position  : absolute;
        top       : 75%;
        left      : 50%;
        width     : 220px;
        padding   : 0;
        margin    : 0;
        list-style: none;
        transform : translate(-50%, -50%);
        z-index   : 9;
    }

    &__log-out a {
        display       : flex;
        flex-direction: row;
        align-items   : center;
        flex-wrap     : nowrap;
        padding       : 10px 15px;
        color         : @white;
        background    : #707070;
        border-radius : 10px;
        z-index       : 9;
    }

    &__log-out a:hover {
        text-decoration: none;
        background     : darken(#707070, 10%);
        z-index        : 9;
    }

    &__log-out ion-icon {
        margin-right: 10px;
        z-index     : 9;
    }
}

.forMob {
    display: none;
}

.forDesk {
    display: block;
}

@media (min-width: 1440px) {
    .header {
        padding: 1.4vw 1.8vw 1.4vw 5vw;
    }

    .navigation {
        &__dropdown {
            width  : 10vw;
            padding: 1vw;
        }

        &__contacts a,
        &__back a {
            margin-left: 4vw;
        }

        &__log-out a {
            padding: 0.5vw 1vw;
        }

        &__theme::before {
            width       : 0.5vw;
            height      : 0.5vw;
            margin-right: 0.2vw;
        }

        &__admin-theme ion-icon {
            width       : 1vw;
            height      : 1vw;
        }

        &__dropdown ul a {
            padding        : 1vw;
        }
    }
}

@media (max-width: 1080px) {
    .forMob {
        display: block;
    }

    .forDesk {
        display: none;
    }

    .header {

        padding: 16px 20px;

        &__navigation {
            display       : flex;
            flex-direction: row;
        }

        .logo__img {
            display: none;
        }

        .logo__img-mob {
            display: block;
        }
    }
}