/* colors */
@light-grey : #fafafa;
@grey       : #b7b8b9;
@dark-grey  : #565555;
@white      : #fff;
@blue       : #72bde2;
@dark-blue  : #5cb4df;
@light-black: #2d302d;
@green      : #c8e803;
@light-green: #d2f400;
@turquoise  : #a3e1d4;

.error {
    color: #d93d4b;
}

/* fonts */
@heebo: 'Heebo', sans-serif;


html,
body {
    font-family: @heebo;
    background : @light-grey;
    height     : 100%;
    width      : 100%;
    color      : #565555;
    overflow-x : hidden;
}

a.active.focus,
a.active:focus,
a.focus,
a:active.focus,
a:active:focus,
a:focus,
button.active.focus,
button.active:focus,
button.focus,
button:active.focus,
button:active:focus,
button:focus,
.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus {
    outline      : 0 !important;
    outline-color: transparent !important;
    outline-width: 0 !important;
    outline-style: none !important;
    box-shadow   : 0 0 0 0 rgba(0, 123, 255, 0) !important;
}

.header .container {
    display        : flex;
    flex-direction : row;
    justify-content: space-between;
    max-width      : 1400px;
    margin         : 0 auto;
    padding        : 0 20px 0 140px;
}

.header {

    &__logo {
        margin-top: auto;
    }

    &__logo img {
        width : 130px;
        height: auto;
    }

    &__symbol img {
        width : 323px;
        height: auto;
    }
}

.main {
    max-width    : 680px;
    height       : 522px;
    margin       : 30px auto;
    background   : @white;
    border-radius: 10px;

    & h1 {
        position   : relative;
        padding    : 30px 20px 20px;
        font-size  : 24px;
        font-weight: normal;
    }

    & h1::after {
        content   : ' ';
        position  : absolute;
        bottom    : 0;
        left      : 20px;
        right     : 20px;
        height    : 1px;
        background: #979797;

    }

    &__select-role {
        max-width: 206px;
        margin   : 0 auto;
    }

    &__login-into {
        margin-top: 60px;
    }
}

.select-role {

    & h2 {
        margin-top: 60px;
        font-size : 16px;
        text-align: center;
    }

    & a {
        display      : flex;
        align-items  : center;
        width        : 100%;
        margin       : 30px 0;
        color        : @dark-grey;
        background   : @light-green;
        border-radius: 10px;
    }

    & a:hover {
        text-decoration: none;
        background  : darken(@light-green, 3%);
    }

    & a span {
        display                  : flex;
        align-items              : center;
        justify-content          : center;
        width                    : 47px;
        height                   : 45px;
        margin-right             : 15px;
        background               : @green;
        border-top-left-radius   : 10px;
        border-bottom-left-radius: 10px;
    }

    & a span ion-icon {
        width : 20px;
        height: 20px;
    }
}

.login-into {
    position: relative;

    & input {
        display      : block;
        max-width    : 470px;
        width        : 100%;
        margin       : 30px auto;
        padding      : 10px;
        border-radius: 10px;
        border       : 1px solid #edebeb;
        outline      : none;
    }

    &__btn-forgot-pswd {
        display        : flex;
        justify-content: center;
        align-items    : flex-start;
        margin-top     : 50px;
        margin-bottom  : 80px;
        color          : #7c9000;
        text-decoration: none;
    }

    &__btn-forgot-pswd a span,
    &__btn-forgot-pswd a ion-icon {
        width : 20px;
        height: 20px;
    }

    &__btn-log-in {
        display        : flex;
        align-items    : center;
        justify-content: center;
        width          : 216px;
        margin         : 0 auto;
        padding        : 10px;
        color          : #7c9000;
        background     : @light-green;
        border-radius  : 10px;
    }

    &__btn-forgot-pswd:hover {
        color          : #7c9000;
        text-decoration: none;
    }

    &__btn-log-in:hover {
        color          : #7c9000;
        text-decoration: none;
        background     : darken(@green, 3%);
    }

    & span.error {
        position      : absolute;
        top           : 40%;
        left          : 18%;
        font-size     : 14px;
        letter-spacing: 0.5px;
    }
}

.logo__img-mob {
    display: none;
}

.logo__img {
    display: block;
}

.footer {
    max-width : 680px;
    margin    : 0 auto 90px;
    text-align: center;

    &__text {
        color    : #b7b8b9;
        font-size: 18px;
    }

    &__text a {
        color          : #7c9000;
        text-decoration: none;
    }

    &__text input[type="checkbox"] {
        display: none;
    }

    &__text input[type="checkbox"]+label {
        display            : block;
        position           : relative;
        padding-left       : 23px;
        cursor             : pointer;
        -webkit-user-select: none;
        -moz-user-select   : none;
        -ms-user-select    : none;
    }

    &__text input[type="checkbox"]+label:before {
        content           : '';
        display           : block;
        width             : 15px;
        height            : 15px;
        border            : 1px solid #3E4D5E;
        position          : absolute;
        left              : 0;
        top               : 5px;
        opacity           : .6;
        -webkit-transition: all .12s, border-color .08s;
        transition        : all .12s, border-color .08s;
    }

    &__text input[type="checkbox"]:checked+label:before {
        width            : 10px;
        top              : 2px;
        left             : 5px;
        border-radius    : 0;
        opacity          : 1;
        border-top-color : transparent;
        border-left-color: transparent;
        -webkit-transform: rotate(45deg);
        transform        : rotate(45deg);
    }
}

.registration {
    position: relative;

    & input {
        display      : block;
        max-width    : 470px;
        width        : 100%;
        margin       : 30px auto;
        padding      : 10px;
        border-radius: 10px;
        border       : 1px solid #edebeb;
        outline      : none;
    }

    &__btn-create-acc {
        display        : flex;
        align-items    : center;
        justify-content: center;
        width          : 216px;
        margin         : 50px auto 0;
        padding        : 10px;
        color          : #7c9000;
        background     : @light-green;
        border-radius  : 10px;
    }

    &__btn-create-acc:hover {
        color          : #7c9000;
        text-decoration: none;
        background     : darken(@green, 3%);
    }

    & span.error {
        position      : absolute;
        top           : 79%;
        left          : 50%;
        margin-left   : -83px;
        font-size     : 14px;
        letter-spacing: 0.5px;
    }
}


.forFlex {
    display        : flex;
    flex-direction : row;
    justify-content: space-between;
}

.hidden {
    display: none;
}

.mistake {
    position     : fixed;
    top          : 140px;
    right        : 20px;
    display      : none;
    width        : 380px;
    padding      : 30px;
    color        : @white;
    background   : #d93d48;
    border-radius: 20px;
    box-shadow   : 0 0 20px 10px rgba(0, 0, 0, 0.05);
    transition   : 1s all;

    &--before {
        display : block;
        position: fixed;
        opacity : 0;
    }

    &--active {
        opacity: 1;
    }

    h4 {
        margin     : auto 0;
        font-size  : 16px;
        font-weight: bold;
    }

    p {
        margin-bottom: auto;
        padding-top  : 15px;
        font-size    : 14px;
    }

    &__close {
        position: absolute;
        width   : 30px;
        height  : 30px;
        top     : 10px;
        right   : 10px;
        color   : @white;
        cursor  : pointer;
    }

    &__close ion-icon {
        width : 100%;
        height: 100%;
    }
}

@media (max-width: 850px) {
    .logo__img {
        display: none;
    }

    .logo__img-mob {
        display: block;
    }

    .header {

        & .container {
            padding: 20px 60px;
        }

        &__logo {
            margin: 0 auto;
            width : 200px;
        }

        &__logo a img {
            width: 100%;
        }

        &__symbol {
            display: none;
        }
    }

    .main:not(#registration) {
        height    : 442px;
        margin-top: 0;
    }

    .login-into {

        &__btn-forgot-pswd {
            display        : flex;
            justify-content: center;
            align-items    : flex-start;
            margin-bottom  : 30px;
            color          : #7c9000;
            text-decoration: none;
        }

        & span.error {
            top : 50%;
            left: 18%;
        }
    }


    .forFlex {
        flex-direction: column;

        & .footer__text {
            display        : flex;
            justify-content: center;
        }
    }

    .footer__text a {
        margin-left: 3px;
    }
}

@media (max-width: 680px) {
    .main {
        border-radius: 0;
    }

    .login-into {
        & span.error {
            left       : 50%;
            margin-left: -66px;
        }
    }
}

@media (max-width: 550px) {

    .login-into,
    .registration {
        padding-left : 40px;
        padding-right: 40px;
    }
}

@media (max-width: 450px) {
    .mistake {
        width: 280px;
    }
}