/* colors */
.error {
  color: #d93d4b;
}
/* fonts */
html,
body {
  font-family: 'Heebo', sans-serif;
  background: #fafafa;
  height: 100%;
  width: 100%;
  color: #565555;
  overflow-x: hidden;
}
a.active.focus,
a.active:focus,
a.focus,
a:active.focus,
a:active:focus,
a:focus,
button.active.focus,
button.active:focus,
button.focus,
button:active.focus,
button:active:focus,
button:focus,
.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus {
  outline: 0 !important;
  outline-color: transparent !important;
  outline-width: 0 !important;
  outline-style: none !important;
  box-shadow: 0 0 0 0 rgba(0, 123, 255, 0) !important;
}
.header .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 20px 0 140px;
}
.header__logo {
  margin-top: auto;
}
.header__logo img {
  width: 130px;
  height: auto;
}
.header__symbol img {
  width: 323px;
  height: auto;
}
.main {
  max-width: 680px;
  height: 522px;
  margin: 30px auto;
  background: #fff;
  border-radius: 10px;
}
.main h1 {
  position: relative;
  padding: 30px 20px 20px;
  font-size: 24px;
  font-weight: normal;
}
.main h1::after {
  content: ' ';
  position: absolute;
  bottom: 0;
  left: 20px;
  right: 20px;
  height: 1px;
  background: #979797;
}
.main__select-role {
  max-width: 206px;
  margin: 0 auto;
}
.main__login-into {
  margin-top: 60px;
}
.select-role h2 {
  margin-top: 60px;
  font-size: 16px;
  text-align: center;
}
.select-role a {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 30px 0;
  color: #565555;
  background: #d2f400;
  border-radius: 10px;
}
.select-role a:hover {
  text-decoration: none;
  background: #c5e500;
}
.select-role a span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 47px;
  height: 45px;
  margin-right: 15px;
  background: #c8e803;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.select-role a span ion-icon {
  width: 20px;
  height: 20px;
}
.login-into {
  position: relative;
}
.login-into input {
  display: block;
  max-width: 470px;
  width: 100%;
  margin: 30px auto;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #edebeb;
  outline: none;
}
.login-into__btn-forgot-pswd {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 50px;
  margin-bottom: 80px;
  color: #7c9000;
  text-decoration: none;
}
.login-into__btn-forgot-pswd a span,
.login-into__btn-forgot-pswd a ion-icon {
  width: 20px;
  height: 20px;
}
.login-into__btn-log-in {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 216px;
  margin: 0 auto;
  padding: 10px;
  color: #7c9000;
  background: #d2f400;
  border-radius: 10px;
}
.login-into__btn-forgot-pswd:hover {
  color: #7c9000;
  text-decoration: none;
}
.login-into__btn-log-in:hover {
  color: #7c9000;
  text-decoration: none;
  background: #bbd903;
}
.login-into span.error {
  position: absolute;
  top: 40%;
  left: 18%;
  font-size: 14px;
  letter-spacing: 0.5px;
}
.logo__img-mob {
  display: none;
}
.logo__img {
  display: block;
}
.footer {
  max-width: 680px;
  margin: 0 auto 90px;
  text-align: center;
}
.footer__text {
  color: #b7b8b9;
  font-size: 18px;
}
.footer__text a {
  color: #7c9000;
  text-decoration: none;
}
.footer__text input[type="checkbox"] {
  display: none;
}
.footer__text input[type="checkbox"] + label {
  display: block;
  position: relative;
  padding-left: 23px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.footer__text input[type="checkbox"] + label:before {
  content: '';
  display: block;
  width: 15px;
  height: 15px;
  border: 1px solid #3E4D5E;
  position: absolute;
  left: 0;
  top: 5px;
  opacity: .6;
  -webkit-transition: all 0.12s, border-color 0.08s;
  transition: all 0.12s, border-color 0.08s;
}
.footer__text input[type="checkbox"]:checked + label:before {
  width: 10px;
  top: 2px;
  left: 5px;
  border-radius: 0;
  opacity: 1;
  border-top-color: transparent;
  border-left-color: transparent;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.registration {
  position: relative;
}
.registration input {
  display: block;
  max-width: 470px;
  width: 100%;
  margin: 30px auto;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #edebeb;
  outline: none;
}
.registration__btn-create-acc {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 216px;
  margin: 50px auto 0;
  padding: 10px;
  color: #7c9000;
  background: #d2f400;
  border-radius: 10px;
}
.registration__btn-create-acc:hover {
  color: #7c9000;
  text-decoration: none;
  background: #bbd903;
}
.registration span.error {
  position: absolute;
  top: 79%;
  left: 50%;
  margin-left: -83px;
  font-size: 14px;
  letter-spacing: 0.5px;
}
.forFlex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.hidden {
  display: none;
}
.mistake {
  position: fixed;
  top: 140px;
  right: 20px;
  display: none;
  width: 380px;
  padding: 30px;
  color: #fff;
  background: #d93d48;
  border-radius: 20px;
  box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.05);
  transition: 1s all;
}
.mistake--before {
  display: block;
  position: fixed;
  opacity: 0;
}
.mistake--active {
  opacity: 1;
}
.mistake h4 {
  margin: auto 0;
  font-size: 16px;
  font-weight: bold;
}
.mistake p {
  margin-bottom: auto;
  padding-top: 15px;
  font-size: 14px;
}
.mistake__close {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 10px;
  right: 10px;
  color: #fff;
  cursor: pointer;
}
.mistake__close ion-icon {
  width: 100%;
  height: 100%;
}
@media (max-width: 850px) {
  .logo__img {
    display: none;
  }
  .logo__img-mob {
    display: block;
  }
  .header .container {
    padding: 20px 60px;
  }
  .header__logo {
    margin: 0 auto;
    width: 200px;
  }
  .header__logo a img {
    width: 100%;
  }
  .header__symbol {
    display: none;
  }
  .main:not(#registration) {
    height: 442px;
    margin-top: 0;
  }
  .login-into__btn-forgot-pswd {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 30px;
    color: #7c9000;
    text-decoration: none;
  }
  .login-into span.error {
    top: 50%;
    left: 18%;
  }
  .forFlex {
    flex-direction: column;
  }
  .forFlex .footer__text {
    display: flex;
    justify-content: center;
  }
  .footer__text a {
    margin-left: 3px;
  }
}
@media (max-width: 680px) {
  .main {
    border-radius: 0;
  }
  .login-into span.error {
    left: 50%;
    margin-left: -66px;
  }
}
@media (max-width: 550px) {
  .login-into,
  .registration {
    padding-left: 40px;
    padding-right: 40px;
  }
}
@media (max-width: 450px) {
  .mistake {
    width: 280px;
  }
}
