/* colors */
@light-grey : #fafafa;
@grey       : #b7b8b9;
@dark-grey  : #565555;
@white      : #fff;
@blue       : #72bde2;
@dark-blue  : #5cb4df;
@light-black: #2d302d;
@light-green: #d2f400;
@turquoise  : #a3e1d4;

// @import "main";
@import "header_style";
@import "side-bar_style";
@import "content-block_style";
@import "nav-bar_style";
@import "page_style";
@import "popup-succ_style";
@import "modal-block_style";

.yellow {
    background: #ffdb58;
}

.turquoise {
    color: #03cea4;
}

.cherry {
    color: #d93d4b;
}

.green {
    background: #68de5c;
}

.purple {
    background: #7e9dff;
}

.lemon {
    background: #c8e629;
}

.turquoise-bg {
    background: #03cea4;
}

.blue {
    background: #4aaee3;
}

/* fonts */
@heebo: 'Heebo', sans-serif;


html,
body {
    font-family: @heebo;
    background : @light-grey;
    height     : 100%;
    width      : 100%;
    color      : #565555;
    overflow-x : hidden;
}

a.active.focus,
a.active:focus,
a.focus,
a:active.focus,
a:active:focus,
a:focus,
button.active.focus,
button.active:focus,
button.focus,
button:active.focus,
button:active:focus,
button:focus,
.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus,
.form-control:focus {
    outline      : 0 !important;
    outline-color: transparent !important;
    outline-width: 0 !important;
    outline-style: none !important;
    box-shadow   : 0 0 0 0 rgba(0, 123, 255, 0) !important;
}

.form-control:focus {
    border-color: lighten(@grey, 15%);
}

.h-full {
    height: 100%;
}

.mtop-30 {
    margin-top: 30px;
}

.mtb-20 {
    margin-top   : 20px;
    margin-bottom: 20px;
}

.mtb-30 {
    margin-top   : 30px;
    margin-bottom: 30px;
}

.mbttm-20 {
    margin-bottom: 20px;
}

.mtop-m13 {
    margin-top: -13px;
}

@media (min-width: 1440px) {
    * {
        font-size: 1.1vw;
    }

    .mtb-30 {
        margin-top: 2.1vw;
        margin-bottom: 2.1vw;
    }

    .ml-25v {
        margin-left: 2.5vw;
    }
}

@media (max-width: 1439px) {
    .pl-60 {
        padding-left: 60px;
    }

    .ml-35 {
        margin-left: 35px;
    }
}

@media (max-width: 991px) {
    .mbttm-30 {
        margin-bottom: 30px;
    }
}

@media (max-width: 500px) {
    .mtop-0 {
        margin: 0 auto;
    }

    .mbttm-20 {
        margin-bottom: 20px;
    }
}

@media (max-width: 425px) {
    .mtb-20 {
        margin       : 0 auto;
        margin-top   : 20px;
        margin-bottom: 20px;
    }
}