/* colors */
.header {
  position: absolute;
  width: 100%;
  padding: 16px 20px 16px 60px;
  background: #fff;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.05);
  z-index: 50;
}
.header__navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .logo__img {
  width: 6vw;
}
.header .logo__img-mob {
  display: none;
}
.navigation__contacts a,
.navigation__back a {
  margin-left: 50px;
  color: #3da5d9;
}
.navigation__contacts a:hover,
.navigation__back a:hover {
  text-decoration: none;
}
.navigation__dropdown {
  position: relative;
  min-width: 140px;
  margin-left: auto;
  padding: 16px;
  background: #fafafa;
  color: #565555;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
}
.navigation__dropdown span ion-icon {
  display: block;
  position: absolute;
  top: 35%;
  right: 10px;
}
.navigation__dropdown.active ul {
  opacity: 1;
  pointer-events: auto;
}
.navigation__theme,
.navigation__admin-theme {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 40px;
}
.navigation__admin-theme ion-icon {
  width: 16px;
  height: 16px;
  margin-right: 5px;
}
.navigation__theme::before {
  content: ' ';
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 5px;
  background: #707070;
  border-radius: 50%;
}
.navigation__log-out a {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
  padding: 10px 15px;
  color: #fff;
  background: #707070;
  border-radius: 10px;
}
.navigation__log-out a:hover {
  text-decoration: none;
  background: #575757;
}
.navigation__log-out ion-icon {
  margin-right: 10px;
}
.navigation__dropdown ul {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  padding: 0;
  background: #fff;
  border-radius: 5px;
  font-weight: normal;
  list-style-type: none;
  opacity: 0;
  pointer-events: none;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.05);
  z-index: 10;
}
.navigation__dropdown ul a {
  display: block;
  text-decoration: none;
  color: #b7b8b9;
  padding: 16px;
}
.navigation__dropdown ul li:not(:first-child) a::after {
  content: ' ';
  position: absolute;
  background: #ebebeb;
  height: 1px;
  margin: -17px;
  left: 33px;
  right: 33px;
}
.navigation__dropdown ul li:hover a {
  background: #f7f7f7;
}
.navigation__burger {
  position: relative;
  display: block;
  width: 30px;
  height: 30px;
  background-color: inherit;
  z-index: 100;
  cursor: pointer;
}
.navigation__burger span {
  position: absolute;
  top: 50%;
  height: 4px;
  width: 30px;
  margin-left: 0px;
  background: #3E4D5E;
}
.navigation__burger span::before {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 4px;
  width: 30px;
  margin-top: -5px;
  margin-left: -15px;
  background: #3E4D5E;
}
.navigation__burger span::after {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 4px;
  width: 30px;
  margin-top: 1px;
  margin-left: -15px;
  background: #3E4D5E;
}
.navigation__burger span::before,
.navigation__burger span::after {
  content: '';
  display: block;
  transition: 0.4s;
}
.navigation__burger span::before {
  transform: translateY(-5px);
}
.navigation__burger span::after {
  transform: translateY(5px);
}
.navigation__burger--active span {
  height: 0;
}
.navigation__burger--active span:before {
  background: white;
  transform: translateY(5px) rotate(45deg);
}
.navigation__burger--active span:after {
  background: white;
  transform: rotate(135deg);
}
.menu-popup {
  position: fixed;
  top: 0;
  right: 0%;
  display: none;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: #dededf;
  z-index: 99;
  transition: 0.5s;
  transform: translateY(-100%);
}
.menu-popup--active {
  transform: translateY(0%);
}
.menu-popup__list {
  position: absolute;
  top: 35%;
  left: 50%;
  padding: 0;
  margin: 0;
  list-style: none;
  transform: translate(-50%, -50%);
  z-index: inherit;
}
.menu-popup__item {
  margin: 20px auto;
  text-align: center;
}
.menu-popup__item a {
  font-size: 22px;
  font-weight: 700;
  color: white !important;
}
.menu-popup__item a:hover {
  text-decoration: none;
  color: #3E4D5D !important;
  transition: 100ms;
}
.menu-popup__theme,
.menu-popup__admin-theme {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 20px;
  text-align: center;
}
.menu-popup__theme::before {
  content: ' ';
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 5px;
  background: #707070;
  border-radius: 50%;
}
.menu-popup__dropdown {
  position: relative;
  width: 220px;
  margin: 0 auto;
  padding: 16px;
  background: #fafafa;
  color: #565555;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
}
.menu-popup__dropdown span ion-icon {
  display: block;
  position: absolute;
  top: 35%;
  right: 10px;
}
.menu-popup__dropdown.active ul {
  opacity: 1;
  pointer-events: auto;
}
.menu-popup__dropdown ul {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  padding: 0;
  background: #fff;
  border-radius: 5px;
  font-weight: normal;
  list-style-type: none;
  opacity: 0;
  pointer-events: none;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.05);
  z-index: 10;
}
.menu-popup__dropdown ul a {
  display: block;
  text-decoration: none;
  color: #b7b8b9;
  padding: 16px;
}
.menu-popup__log-out {
  position: absolute;
  top: 75%;
  left: 50%;
  width: 220px;
  padding: 0;
  margin: 0;
  list-style: none;
  transform: translate(-50%, -50%);
  z-index: 9;
}
.menu-popup__log-out a {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
  padding: 10px 15px;
  color: #fff;
  background: #707070;
  border-radius: 10px;
  z-index: 9;
}
.menu-popup__log-out a:hover {
  text-decoration: none;
  background: #575757;
  z-index: 9;
}
.menu-popup__log-out ion-icon {
  margin-right: 10px;
  z-index: 9;
}
.forMob {
  display: none;
}
.forDesk {
  display: block;
}
@media (min-width: 1440px) {
  .header {
    padding: 1.4vw 1.8vw 1.4vw 5vw;
  }
  .navigation__dropdown {
    width: 10vw;
    padding: 1vw;
  }
  .navigation__contacts a,
  .navigation__back a {
    margin-left: 4vw;
  }
  .navigation__log-out a {
    padding: 0.5vw 1vw;
  }
  .navigation__theme::before {
    width: 0.5vw;
    height: 0.5vw;
    margin-right: 0.2vw;
  }
  .navigation__admin-theme ion-icon {
    width: 1vw;
    height: 1vw;
  }
  .navigation__dropdown ul a {
    padding: 1vw;
  }
}
@media (max-width: 1080px) {
  .forMob {
    display: block;
  }
  .forDesk {
    display: none;
  }
  .header {
    padding: 16px 20px;
  }
  .header__navigation {
    display: flex;
    flex-direction: row;
  }
  .header .logo__img {
    display: none;
  }
  .header .logo__img-mob {
    display: block;
  }
}
.main {
  min-height: 100%;
  padding-top: 90px;
}
.main__side-bar {
  margin: 0;
  padding-top: 120px;
  position: absolute;
  top: 0;
  min-width: 208px;
  min-height: 100%;
  background: #fafafa;
  box-shadow: 15px 0 40px rgba(0, 0, 0, 0.05);
  z-index: 10;
}
.main__side-bar ul {
  padding: 0;
  list-style-type: none;
}
.main__side-bar ul li {
  padding: 10px 30px;
  color: #b7b8b9;
}
.main__side-bar ul li a {
  display: flex;
  align-items: center;
  color: #b7b8b9;
  text-decoration: none;
}
.main__side-bar ul li.active {
  color: #565555;
  background: #ecebeb;
}
.main__side-bar ul li a.active {
  color: #565555;
}
.main__side-bar a:hover {
  text-decoration: none;
  color: #565555;
}
.main__side-bar ion-icon {
  margin-right: 10px;
}
.main__side-bar-popup-btn {
  position: absolute;
  top: 90px;
  left: 0;
  content: ' ';
  width: 50px;
  height: 50px;
  background: #d2f400;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  box-shadow: 10px 5px 14px rgba(0, 0, 0, 0.05);
  transition: 0.5s;
  transform: translateX(0%);
  z-index: 10;
}
.main__side-bar-popup-btn ion-icon {
  position: absolute;
  left: 5px;
  top: 10px;
  width: 30px;
  height: 30px;
  color: #565555;
}
.main__side-bar-popup {
  margin: 0;
  padding-top: 90px;
  position: absolute;
  top: 0;
  width: 208px;
  min-height: 100%;
  max-height: 100vh;
  overflow-y: auto;
  background: #fafafa;
  box-shadow: 15px 0 40px rgba(0, 0, 0, 0.05);
  z-index: 10;
  transition: 0.5s;
  transform: translateX(-100%);
}
.main__side-bar-popup.active {
  transform: translateX(0%);
}
.main__side-bar-popup ul {
  display: block;
  padding: 0;
  margin: 0;
  list-style: none;
}
.main__side-bar-popup ul li {
  padding: 10px 10px 10px 30px;
  color: #b7b8b9;
}
.main__side-bar-popup ul li.active {
  color: #565555;
  background: #ecebeb;
}
.main__side-bar-popup ul li a {
  display: flex;
  align-items: center;
  color: #b7b8b9;
  text-decoration: none;
}
.main__side-bar-popup ul li a.active {
  color: #565555;
}
.main__side-bar-popup a:hover {
  text-decoration: none;
  color: #565555;
}
.main__side-bar-popup-btn--active {
  transform: translateX(208px);
}
@media (min-width: 1440px) {
  .main {
    padding-top: 6.8vw;
  }
  .main__side-bar {
    padding-top: 8.8vw;
    width: 15vw;
  }
  .main__side-bar ul li {
    padding: 0.7vw 2.5vw;
    color: #b7b8b9;
  }
}
@media (max-width: 1080px) {
  .main {
    padding-top: 60px;
  }
  .main__side-bar-popup ul li a ion-icon {
    margin-right: 10px;
  }
}
.main__content {
  width: 100%;
}
.main__content h1,
.main__content h2 {
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 24px;
  font-weight: normal;
}
.content {
  height: min-content;
  padding: 20px 20px 20px 228px;
}
.content__block {
  display: flex;
  flex-direction: column;
  padding: 30px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.05);
}
.content__block .banking-details input,
.content__block .banking-info input {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #edebeb;
  border-radius: 10px;
  outline: none;
}
.content__block .import-wallet-block input {
  width: 30%;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 20px;
  padding: 10px;
  border: 1px solid #edebeb;
  border-radius: 10px;
  outline: none;
}
.content .form-row {
  margin-right: 0;
  margin-left: 0;
}
.content .form-control {
  height: 45px;
  border-radius: 10px;
}
.content form input,
.content form select {
  background: #f7f7f7;
  border-color: #dededf;
}
.content form input:focus,
.content form select:focus {
  background: #fff;
}
.content .btn-snd-tokens {
  width: 264px;
  height: 45px;
  background: #d2f400;
  color: #707070;
  border-radius: 8px;
}
.content .btn-snd-tokens:hover {
  background: #bcdb00;
}
.content .btn-crt-request,
.content .btn-sell {
  width: 264px;
  height: 45px;
  background: #d2f400;
  color: #707070;
  border-radius: 8px;
}
.content .btn-crt-request:hover,
.content .btn-sell:hover {
  background: #bcdb00;
}
.content .btn-for-import {
  width: 141px;
  height: 45px;
  background: #565555;
  color: #fff;
  border-radius: 8px;
}
.content .btn-dwnd-report {
  display: none;
  padding-left: 0;
  color: #7c9000;
}
.content .btn-dwnd-report-const {
  display: flex;
  align-items: center;
  margin-top: 20px;
  padding-left: 0;
  color: #7c9000;
}
.content .btn-add-wallet,
.content .btn-add-user {
  display: flex;
  align-items: center;
  padding-left: 0;
  color: #7c9000;
}
.content .btn-add-user {
  margin-top: 20px;
  margin-bottom: 30px;
}
.content .btn-dwnd-report ion-icon,
.content .btn-dwnd-report-const ion-icon {
  margin-right: 5px;
}
.content .btn-snd-tokens--no-active {
  display: none;
}
.content .btn-dwnd-report--active {
  display: flex;
  align-items: center;
}
.content .btn-add-users,
.content .btn-crt-exchange {
  min-width: 214px;
  height: 40px;
  background: #d2f400;
  color: #707070;
  border-radius: 8px;
}
.content .btn-add-users:hover,
.content .btn-crt-exchange:hover {
  background: #bcdb00;
}
.content .user-exchanges--no-active {
  display: none;
}
.content .btn-invite-user,
.content .btn-crt {
  width: 251px;
  height: 45px;
  background: #d2f400;
  color: #707070;
  border-radius: 8px;
}
.content .btn-invite-user:hover,
.content .btn-crt:hover {
  background: #bcdb00;
}
.content .btn-add-tokens {
  height: 45px;
  margin: auto 0 1rem 20px;
  color: #fff;
  background: #707070;
  border-radius: 8px;
}
.content .btn-add-tokens:hover,
.content .btn-attach-token:hover {
  background: #575757;
}
.content .btn-add-tokens--no-active {
  display: none;
}
.content .btn-attach-token {
  display: none;
  height: 45px;
  margin: auto 0 1rem 20px;
  color: #fff;
  background: #707070;
  border-radius: 8px;
}
.content .btn-attach-token--active {
  display: block;
}
.content .qr-code {
  display: flex;
  margin-top: 32px;
}
.content .qr-code--no-active {
  display: none;
}
.content #qr-code {
  margin: 0 auto;
}
.content .snd-token-child {
  display: none;
  height: min-content;
  width: 80%;
  margin: 0 auto;
  padding: 30px;
  border: 2px dashed #edeeee;
}
.content .snd-token-child--active {
  display: block;
}
.content .btn-delete {
  margin-top: 10px;
  padding: 5px 60px;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  background: #d93d48;
  border-radius: 8px;
}
.content .btn-delete:hover {
  background: #be2530;
}
.content .btn-save {
  width: 201px;
  height: 45px;
  margin: 30px auto 0;
  background: #d2f400;
  color: #707070;
  border-radius: 8px;
}
.content .btn-save:hover {
  background: #bcdb00;
}
.content .btn-confirm {
  width: 284px;
  height: 45px;
  margin: 30px auto 0;
  background: #d2f400;
  color: #707070;
  border-radius: 8px;
}
.content .btn-confirm:hover {
  background: #bcdb00;
}
.content .btn-for-sent,
.content .btn-for-send {
  width: 187px;
  height: 45px;
  margin-top: 30px;
  background: #d2f400;
  color: #707070;
  border-radius: 8px;
}
.content .btn-for-sent:hover,
.content .btn-for-send:hover {
  background: #bcdb00;
}
.content .btn-print-pdf {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 45px;
  margin-top: 30px;
  margin-right: 10px;
  background: #565555;
  color: #fff;
  border-radius: 8px;
}
.content .btn-print-pdf img {
  margin-right: 5px;
}
.content .btn-print-pdf:hover {
  background: #494848;
}
.list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 0;
}
.list__item {
  margin-right: 10px;
  padding: 4px 10px;
  list-style-type: none;
  cursor: pointer;
}
.list__item--active {
  color: #fff;
  background: #565555;
  border-radius: 5px;
}
.settings-item {
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
}
.settings-item__termin {
  width: 25%;
}
.settings-item__value a {
  color: #5cb4df;
}
.settings-item__value a:hover {
  text-decoration: none;
}
.confirmed-info-item__value a {
  color: #5cb4df;
}
.confirmed-info-item__value a:hover {
  text-decoration: none;
}
.buy-token .form-group,
.sell-token .form-group {
  margin-bottom: 20px;
}
.buy-token label,
.sell-token label {
  padding-bottom: 10px;
}
.buy-token .btn-crt-request {
  margin-top: 20px;
  margin-bottom: 20px;
}
.sell-token .btn-sell {
  margin-top: 20px;
  margin-bottom: 20px;
}
.col-lg-2 .buy-token .form-group:first-child input,
.col-lg-2 .sell-token .form-group:first-child input {
  width: 90%;
}
.col-lg-2 .buy-token .form-group:last-child input,
.col-lg-2 .sell-token .form-group:last-child input {
  width: 60%;
}
.change-pswd input:first-child,
.banking-details input:first-child {
  margin-top: 0;
}
.change-pswd input:not([type="checkbox"]),
.banking-details input:not([type="checkbox"]) {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #edebeb;
  border-radius: 10px;
  outline: none;
}
.change-pswd input[type="checkbox"],
.banking-details input[type="checkbox"] {
  display: none;
}
.change-pswd input[type="checkbox"] + label,
.banking-details input[type="checkbox"] + label {
  display: block;
  position: relative;
  padding-left: 23px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.change-pswd input[type="checkbox"] + label:before,
.banking-details input[type="checkbox"] + label:before {
  content: '';
  display: block;
  width: 15px;
  height: 15px;
  border: 1px solid #3E4D5E;
  position: absolute;
  left: 0;
  top: 5px;
  opacity: .6;
  -webkit-transition: all 0.12s, border-color 0.08s;
  transition: all 0.12s, border-color 0.08s;
}
.change-pswd input[type="checkbox"]:checked + label:before,
.banking-details input[type="checkbox"]:checked + label:before {
  width: 10px;
  top: 2px;
  left: 5px;
  border-radius: 0;
  opacity: 1;
  border-top-color: transparent;
  border-left-color: transparent;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.orders {
  display: flex;
  flex-direction: row;
  color: #565555;
  text-decoration: none;
}
.orders-header {
  font-weight: bold;
}
.orders-item {
  padding-top: 20px;
}
.orders__amount,
.orders__date {
  width: 22%;
  padding: 0 5px;
}
.orders__otype,
.orders__currency,
.orders__status {
  width: 16%;
  padding: 0 5px;
}
.orders__fee {
  width: 8%;
  padding: 0 5px;
}
.orders__status span {
  display: inline-block;
  padding: 0 10px;
  color: #fff;
  border-radius: 5px;
}
.order-info-st {
  color: #565555;
  text-decoration: none;
}
.order-info-st-header {
  display: flex;
  flex-direction: row;
  font-weight: bold;
}
.order-info-st-item {
  display: flex;
  flex-direction: row;
  padding-top: 20px;
}
.order-info-st__date {
  width: 14%;
  padding: 0 5px;
}
.order-info-st__id,
.order-info-st__otype,
.order-info-st__currency {
  width: 12%;
  padding: 0 5px;
}
.order-info-st__amount,
.order-info-st__status {
  width: 13%;
  padding: 0 5px;
}
.order-info-st__user {
  width: 16%;
  padding: 0 5px;
}
.order-info-st__user a {
  color: #5cb4df;
  text-decoration: none;
  word-break: break-all;
}
.order-info-st__user a:hover {
  text-decoration: none;
}
.order-info-st__fee {
  width: 8%;
  padding: 0 5px;
}
.order-info-item,
.confirm-info-item,
.confirmed-info-item {
  display: flex;
  flex-direction: row;
  padding-top: 10px;
  padding-bottom: 10px;
}
.order-info-item__termin,
.confirm-info-item__termin,
.confirmed-info-item__termin {
  min-width: 35%;
  width: 35%;
  margin-right: 10px;
  font-weight: bold;
}
.order-info-item__value,
.confirm-info-item__value,
.confirmed-info-item__value {
  display: flex;
  width: 65%;
}
.order-info-item__value a {
  color: #5cb4df;
}
.order-info-item__value a:hover {
  text-decoration: none;
}
.order-info-item__value .yellow {
  padding: 0 10px;
  color: #fff;
  border-radius: 5px;
}
.confirm-info {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.confirm-info-item:last-child {
  font-size: 20px;
}
.purse {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.value__purse {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #5cb4df;
}
.value__purse-copy ion-icon {
  width: 20px;
  height: 20px;
  color: #565555;
}
.users {
  display: flex;
  flex-direction: row;
  color: #565555;
  word-wrap: break-word;
  text-decoration: none;
}
.users-header {
  font-weight: bold;
}
.users-item {
  padding-top: 20px;
}
.users__id {
  width: 10%;
  padding: 0 5px;
}
.users__name {
  width: 20%;
  padding: 0 5px;
}
.users__email {
  width: 25%;
  padding: 0 5px;
}
.users__role,
.users__status {
  width: 22.5%;
  padding: 0 5px;
}
.users-item .users__status {
  display: flex;
  align-items: flex-start;
  color: #03cea4;
}
.users-item .users__status ion-icon {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}
.users-item .users__role span {
  display: inline-block;
  padding: 0 10px;
  color: #fff;
  border-radius: 5px;
}
.exchange {
  display: flex;
  flex-direction: row;
  color: #565555;
  word-wrap: break-word;
  text-decoration: none;
}
.exchange-header {
  font-weight: bold;
}
.exchange-item {
  padding-top: 20px;
}
.exchange__id {
  width: 10%;
  padding: 0 5px;
}
.exchange__name {
  width: 20%;
  padding: 0 5px;
}
.exchange-item .exchange__name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #5cb4df;
}
.exchange__name a,
.exchange__name a:hover {
  color: #5cb4df;
  text-decoration: none;
}
.exchange__address {
  width: 25%;
  padding: 0 5px;
}
.exchange__balance,
.exchange__logged {
  width: 22.5%;
  padding: 0 5px;
}
.title-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 425px) {
  .title-block {
    flex-direction: column;
    justify-content: center;
  }
  .title-block .change-block {
    padding-bottom: 20px;
  }
}
.transaction {
  display: flex;
  flex-direction: row;
  color: #565555;
  text-decoration: none;
}
.transaction-header {
  font-weight: bold;
}
.transaction-item {
  padding-top: 20px;
}
.transaction__date {
  width: 17%;
  padding: 0 10px;
}
.transaction__type {
  width: 11%;
  padding: 0 10px;
}
.transaction__currency {
  width: 12%;
  padding: 0 10px;
}
.transaction__amount {
  width: 16%;
  padding: 0 10px;
}
.transaction-item .transaction__recipient,
.transaction-item .transaction__txId {
  color: #5cb4df;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.transaction__recipient,
.transaction__txId {
  width: 22%;
  padding: 0 10px;
}
.transaction__recipient a,
.transaction__txId a,
.transaction__recipient a:hover,
.transaction__txId a:hover {
  color: #5cb4df;
  text-decoration: none;
}
.transaction span {
  display: inline-block;
  padding: 0 10px;
  color: #fff;
  font-weight: bold;
  border-radius: 5px;
}
.transaction-rcv {
  display: flex;
  flex-direction: row;
  color: #565555;
  text-decoration: none;
}
.transaction-rcv-header {
  font-weight: bold;
}
.transaction-rcv-item {
  padding-top: 20px;
}
.transaction-rcv__date,
.transaction-rcv__exchange,
.transaction-rcv__amount,
.transaction-rcv__type,
.transaction-rcv__currency {
  width: 12%;
  padding: 0 10px;
}
.transaction-rcv-item .transaction-rcv__recipient,
.transaction-rcv-item .transaction-rcv__txId {
  color: #5cb4df;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.transaction-rcv__recipient,
.transaction-rcv__txId {
  width: 20%;
  padding: 0 10px;
}
.transaction-rcv__recipient a,
.transaction-rcv__txId a,
.transaction-rcv__recipient a:hover,
.transaction-rcv__txId a:hover {
  color: #5cb4df;
  text-decoration: none;
}
.transaction-rcv span {
  display: inline-block;
  padding: 0 10px;
  color: #fff;
  font-weight: bold;
  border-radius: 5px;
}
.dashboard {
  display: flex;
  flex-direction: row;
  color: #565555;
  text-decoration: none;
}
.dashboard-header {
  font-weight: bold;
}
.dashboard-item {
  padding-top: 20px;
}
.dashboard__name,
.dashboard__amount {
  width: 30%;
  padding: 0 10px;
}
.dashboard__balance {
  width: 40%;
  padding: 0 10px;
}
.dashboard-item .dashboard__name a,
.dashboard-item .dashboard__name a:hover {
  color: #5cb4df;
  text-decoration: none;
}
.dashboard-item {
  position: relative;
}
.dashboard-item::before {
  content: '€';
  position: absolute;
  left: -60px;
  width: 44px;
  height: 24px;
  padding-left: 16px;
  color: #7c9000;
  background: #d2f400;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.profile__id::before {
  content: 'ID';
  width: 30%;
  min-width: 30%;
  margin-right: 10px;
  font-weight: bold;
}
.profile__email::before {
  content: 'Email';
  width: 30%;
  min-width: 30%;
  margin-right: 10px;
  font-weight: bold;
}
.profile__balance::before {
  content: 'Total balance';
  width: 30%;
  min-width: 30%;
  margin-right: 10px;
  font-weight: bold;
}
.profile__id,
.profile__email,
.profile__balance {
  display: flex;
  width: 100%;
  margin-bottom: 20px;
  color: #565555;
}
.profile__email a:first-child {
  color: #5cb4df;
}
.profile__email a,
.profile__email a:hover {
  text-decoration: none;
}
.profile__email div:first-child {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.profile__email div:last-child {
  display: flex;
}
.profile__email div:last-child a {
  display: flex;
  align-items: center;
}
.profile__email ion-icon {
  margin-left: 10px;
  color: #565555;
}
.transaction-choose {
  display: flex;
  flex-direction: column;
  color: #565555;
  text-decoration: none;
}
.transaction-choose-header {
  display: flex;
  flex-direction: row;
  font-weight: bold;
}
.transaction-choose-item {
  display: flex;
  flex-direction: row;
  padding-top: 20px;
}
.transaction-choose__name {
  width: 25%;
  margin-left: 35px;
  padding: 0 10px;
}
.transaction-choose__address {
  width: 30%;
  padding: 0 10px;
}
.transaction-choose-item .transaction-choose__address {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.transaction-choose__balance {
  width: 25%;
  padding: 0 10px;
}
.transaction-choose__logout {
  width: 20%;
  padding: 0 10px;
}
.transaction-choose-item .transaction-choose__address,
.transaction-choose-item .transaction-choose__logout {
  color: #5cb4df;
}
.transaction-choose__address a,
.transaction-choose__logout a,
.transaction-choose__address a:hover,
.transaction-choose__logout a:hover {
  color: #5cb4df;
  text-decoration: none;
}
.import-wallet-block {
  margin-top: 30px;
  border-top: 1px solid #b7b8b9;
}
.import-wallet-block p {
  padding-top: 30px;
  font-weight: bold;
}
.block-confirm {
  display: none;
}
.block-check-confirm {
  display: none;
}
.block-check-confirm--fail {
  display: none;
}
h2.turquoise,
h2.cherry {
  display: flex;
  align-items: center;
}
h2.turquoise ion-icon,
h2.cherry ion-icon {
  width: 30px;
  height: 30px;
  margin-right: 5px;
}
.radio-wrapper {
  min-height: 60px;
  height: auto;
  width: 100%;
  line-height: 1.3;
  border-radius: 10px;
  cursor: pointer;
  position: relative;
  padding-left: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  background: #fafafa;
  border: 1px solid #edebeb;
}
.radio-wrapper::before {
  content: ' ';
  position: absolute;
  top: 25%;
  left: 10px;
  width: 30px;
  height: 30px;
  background: url('../img/bank-light.svg');
}
.radio-wrapper .bank-card-num {
  color: #b7b8b9;
}
input:checked + label .radio-wrapper {
  min-height: 60px;
  height: auto;
  width: 100%;
  line-height: 1.3;
  border-radius: 10px;
  cursor: pointer;
  position: relative;
  padding-left: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  background: #f4f4f4;
  border: 1px solid #979797;
}
input:checked + label .radio-wrapper::before {
  content: ' ';
  position: absolute;
  top: 25%;
  left: 10px;
  width: 30px;
  height: 30px;
  background: url('../img/bank-dark.svg');
}
input[type="radio"] {
  display: none;
}
input[type="radio"] + label {
  position: relative;
}
input[type="radio"] + label::before {
  content: ' ';
  position: absolute;
  top: 20px;
  left: 0;
  width: 24px;
  height: 24px;
  background: url('../img/radiobutton-na.svg');
  cursor: pointer;
}
input[type="radio"]:checked + label::before {
  content: ' ';
  position: absolute;
  top: 20px;
  left: 0;
  width: 24px;
  height: 24px;
  background: url('../img/radiobutton-a.svg');
  cursor: pointer;
}
@media (min-width: 1440px) {
  .main__content h1,
  .main__content h1 span,
  .main__content h2 {
    padding-top: 1.1vw;
    padding-bottom: 1.1vw;
    font-size: 1.7vw;
  }
  .content {
    padding: 1.2vw 1.1vw 1.1vw 16.1vw;
  }
  .content__block {
    padding: 2.5vw;
    border-radius: 0.5vw;
  }
  .content .btn-add-users,
  .content .btn-crt-exchange {
    height: 2.5vw;
    border-radius: 0.5vw;
  }
  .content .form-control {
    height: 3vw;
    border-radius: 0.5vw;
  }
  .content .btn-crt-request,
  .content .btn-sell {
    width: 22vw;
    height: 3vw;
    border-radius: 0.5vw;
  }
  .content__block .banking-details input,
  .content__block .banking-info input {
    margin-top: 1.1vw;
    margin-bottom: 1.1vw;
    padding: 0.5vw;
    border-radius: 0.5vw;
  }
  .content__block .import-wallet-block input {
    margin-top: 1.1vw;
    margin-bottom: 1.1vw;
    margin-right: 1.1vw;
    padding: 0.5vw;
    border-radius: 0.vw;
  }
  .content .btn-snd-tokens {
    width: 18.5vw;
    height: 3vw;
    border-radius: 0.5vw;
  }
  .content .btn-for-import {
    width: 9.9vw;
    height: 3vw;
    border-radius: 0.5vw;
  }
  .content .btn-dwnd-report-const {
    margin-top: 1.1vw;
  }
  .content .btn-add-user {
    margin-top: 1.1vw;
    margin-bottom: 1.7vw;
  }
  .content .btn-dwnd-report ion-icon,
  .content .btn-dwnd-report-const ion-icon {
    margin-right: 0.2vw;
  }
  .content .btn-invite-user,
  .content .btn-crt {
    width: 17.5vw;
    height: 3vw;
    border-radius: 0.5vw;
  }
  .content .btn-add-tokens,
  .content .btn-attach-token {
    height: 3vw;
    margin: auto 0 1rem 1.1vw;
    border-radius: 0.5vw;
  }
  .content .qr-code {
    margin-top: 2vw;
  }
  .content .qr-code canvas {
    width: 11vw;
    height: 11vw;
  }
  .content .snd-token-child {
    padding: 1.9vw;
  }
  .content .btn-delete {
    margin-top: 0.6vw;
    padding: 0.4vw 4.2vw;
    font-size: 1.1vw;
    border-radius: 0.5vw;
  }
  .content .btn-save {
    width: 14vw;
    height: 3vw;
    border-radius: 0.5vw;
    margin: 2vw auto 0;
  }
  .content .btn-confirm {
    width: 19.8vw;
    height: 3vw;
    margin: 1.9vw auto 0;
    border-radius: 0.5vw;
  }
  .content .btn-for-sent,
  .content .btn-for-send {
    width: 13vw;
    height: 3vw;
    margin-top: 1.7vw;
    border-radius: 0.5vw;
  }
  .content .btn-print-pdf {
    height: 3vw;
    margin-top: 1.7vw;
    margin-right: 0.6vw;
    border-radius: 0.5vw;
  }
  .content .btn-print-pdf img {
    margin-right: 0.2vw;
  }
  .dashboard-item {
    padding-top: 1.1vw;
  }
  .dashboard__name,
  .dashboard__amount,
  .dashboard__balance {
    padding: 0 0.5vw;
  }
  .dashboard-item::before {
    left: -4vw;
    width: 3vw;
    height: 1.4vw;
    padding-left: 1vw;
  }
  .pl-4v {
    padding-left: 4vw;
  }
  .transaction-item {
    padding-top: 1.1vw;
  }
  .transaction__date,
  .transaction__type,
  .transaction__currency,
  .transaction__amount,
  .transaction__recipient,
  .transaction__txId {
    padding: 0 0.5vw;
  }
  .transaction span {
    padding: 0 0.5vw;
    border-radius: 0.5vw;
  }
  .buy-token .form-group,
  .sell-token .form-group {
    margin-bottom: 1.1vw;
  }
  .buy-token label,
  .sell-token label {
    padding-bottom: 0.5vw;
  }
  .buy-token .btn-crt-request {
    margin-top: 1.1vw;
    margin-bottom: 1.1vw;
  }
  .sell-token .btn-sell {
    margin-top: 1.1vw;
    margin-bottom: 1.1vw;
  }
  .settings-item {
    padding-top: 0.5vw;
    padding-bottom: 0.5vw;
  }
  .orders-item {
    padding-top: 1.1vw;
  }
  .orders__amount,
  .orders__date,
  .orders__otype,
  .orders__currency,
  .orders__status,
  .orders__fee {
    padding: 0 0.2vw;
  }
  .orders__status span {
    padding: 0 0.5vw;
    border-radius: 0.5vw;
  }
  .order-info-st-item {
    padding-top: 1.1vw;
  }
  .order-info-st__date,
  .order-info-st__id,
  .order-info-st__otype,
  .order-info-st__currency,
  .order-info-st__amount,
  .order-info-st__status,
  .order-info-st__user,
  .order-info-st__fee {
    padding: 0 0.2vw;
  }
  .order-info-item,
  .confirm-info-item,
  .confirmed-info-item {
    padding-top: 0.5vw;
    padding-bottom: 0.5vw;
  }
  .order-info-item__termin,
  .confirm-info-item__termin,
  .confirmed-info-item__termin {
    margin-right: 0.5vw;
  }
  .order-info-item__value .yellow {
    padding: 0 0.5vw;
    border-radius: 0.5vw;
  }
  .confirm-info-item:last-child {
    font-size: 1.1vw;
  }
  .value__purse-copy ion-icon {
    width: 1.1vw;
    height: 1.1vw;
  }
  .users-item {
    padding-top: 20px;
  }
  .users__id,
  .users__name,
  .users__email,
  .users__role,
  .users__status {
    padding: 0 0.2vw;
  }
  .users-item .users__status ion-icon {
    width: 1.1vw;
    height: 1.1vw;
    margin-right: 0.2vw;
  }
  .users-item .users__role span {
    padding: 0 0.5vw;
    border-radius: 0.5vw;
  }
  .exchange-item {
    padding-top: 1.1vw;
  }
  .exchange__id,
  .exchange__name,
  .exchange__address,
  .exchange__balance,
  .exchange__logged {
    padding: 0 0.2vw;
  }
  .transaction-rcv-item {
    padding-top: 1.1vw;
  }
  .transaction-rcv__date,
  .transaction-rcv__exchange,
  .transaction-rcv__amount,
  .transaction-rcv__type,
  .transaction-rcv__currency,
  .transaction-rcv__recipient,
  .transaction-rcv__txId {
    padding: 0 0.5vw;
  }
  .transaction-rcv span {
    padding: 0 0.5vw;
    border-radius: 0.5vw;
  }
  .profile__id::before,
  .profile__email::before,
  .profile__balance::before {
    margin-right: 0.5vw;
  }
  .profile__id,
  .profile__email,
  .profile__balance {
    margin-bottom: 1.1vw;
  }
  .profile__email ion-icon {
    margin-left: 0.5vw;
  }
  .transaction-choose-item {
    padding-top: 1.1vw;
  }
  .transaction-choose__name {
    margin-left: 2.5vw;
    padding: 0 0.5vw;
  }
  .transaction-choose__address {
    padding: 0 0.5vw;
  }
  .transaction-choose__balance {
    padding: 0 0.5vw;
  }
  .transaction-choose__logout {
    padding: 0 0.5vw;
  }
  .change-pswd input:not([type="checkbox"]),
  .banking-details input:not([type="checkbox"]) {
    margin-top: 1.1vw;
    margin-bottom: 1.1vw;
    padding: 0.6vw;
    border-radius: 0.6vw;
  }
  .change-pswd input[type="checkbox"] + label,
  .banking-details input[type="checkbox"] + label {
    padding-left: 1.5vw;
  }
  .change-pswd input[type="checkbox"] + label:before,
  .banking-details input[type="checkbox"] + label:before {
    width: 1vw;
    height: 1vw;
    top: 0.2vw;
  }
  .change-pswd input[type="checkbox"]:checked + label:before,
  .banking-details input[type="checkbox"]:checked + label:before {
    width: 0.5vw;
    top: 0.1vw;
    left: 0.2vw;
  }
  .import-wallet-block {
    margin-top: 1.7vw;
  }
  .import-wallet-block p {
    padding-top: 1.7vw;
  }
  h2.turquoise ion-icon,
  h2.cherry ion-icon {
    width: 1.7vw;
    height: 1.7vw;
    margin-right: 0.2vw;
  }
  input:checked + label .radio-wrapper,
  .radio-wrapper {
    min-height: 3.8vw;
    border-radius: 0.6vw;
    padding-left: 3.2vw;
    padding-top: 0.6vw;
    padding-bottom: 0.6vw;
  }
  input:checked + label .radio-wrapper::before,
  .radio-wrapper::before {
    left: 0.6vw;
    width: 1.7vw;
    height: 1.7vw;
    background-size: contain;
    background-repeat: no-repeat;
  }
  input[type="radio"] + label::before {
    top: 1.1vw;
    width: 1.5vw;
    height: 1.5vw;
    background-repeat: no-repeat;
    background-size: contain;
  }
  input[type="radio"]:checked + label::before {
    top: 1.1vw;
    width: 1.5vw;
    height: 1.5vw;
    background-repeat: no-repeat;
    background-size: contain;
  }
}
@media (max-width: 1080px) {
  .main__content {
    padding: 30px;
  }
  .main__content h1,
  .main__content h2 {
    text-align: center;
  }
  .snd-token-child .btn-delete {
    display: flex;
    justify-content: center;
  }
}
@media (max-width: 980px) {
  .content .qr-code {
    margin: 20px auto;
  }
  .content .snd-token-child {
    width: 100%;
    margin: 20px auto;
  }
  .col-lg-2 .buy-token,
  .col-lg-2 .sell-token {
    display: flex;
  }
  .col-lg-2 .buy-token .form-group:first-child,
  .col-lg-2 .sell-token .form-group:first-child {
    width: 70%;
  }
  .col-lg-2 .buy-token .form-group:last-child,
  .col-lg-2 .sell-token .form-group:last-child {
    width: 70%;
  }
}
@media (max-width: 850px) {
  .transaction-rcv {
    flex-direction: column;
  }
  .transaction-rcv-header {
    display: none;
  }
  .transaction-rcv-item {
    margin-bottom: 10px;
  }
  .transaction-rcv-item .transaction-rcv__date,
  .transaction-rcv-item .transaction-rcv__exchange,
  .transaction-rcv-item .transaction-rcv__type,
  .transaction-rcv-item .transaction-rcv__currency,
  .transaction-rcv-item .transaction-rcv__amount,
  .transaction-rcv-item .transaction-rcv__recipient,
  .transaction-rcv-item .transaction-rcv__txId {
    display: flex;
    width: 100%;
    margin-bottom: 10px;
    color: #565555;
  }
  .transaction-rcv-item .transaction-rcv__recipient a,
  .transaction-rcv-item .transaction-rcv__txId a {
    width: 70%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .transaction-rcv-item .transaction-rcv__date::before {
    content: 'Date';
    width: 30%;
    margin-right: 10px;
    font-weight: bold;
  }
  .transaction-rcv-item .transaction-rcv__exchange::before {
    content: 'Exchange';
    width: 30%;
    margin-right: 10px;
    font-weight: bold;
  }
  .transaction-rcv-item .transaction-rcv__type::before {
    content: 'Type';
    width: 30%;
    margin-right: 10px;
    font-weight: bold;
  }
  .transaction-rcv-item .transaction-rcv__currency::before {
    content: 'Currency';
    width: 30%;
    margin-right: 10px;
    font-weight: bold;
  }
  .transaction-rcv-item .transaction-rcv__amount::before {
    content: 'Amount';
    width: 30%;
    margin-right: 10px;
    font-weight: bold;
  }
  .transaction-rcv-item .transaction-rcv__recipient::before {
    content: 'Recipient';
    width: 30%;
    margin-right: 10px;
    font-weight: bold;
  }
  .transaction-rcv-item .transaction-rcv__txId::before {
    content: 'Tx Id';
    width: 30%;
    margin-right: 10px;
    font-weight: bold;
  }
  .transaction-choose-header {
    display: none;
  }
  .transaction-choose-item {
    flex-direction: column;
    margin-left: 5px;
  }
  .transaction-choose-item .transaction-choose__name {
    margin-left: 0;
  }
  .transaction-choose-item .transaction-choose__name,
  .transaction-choose-item .transaction-choose__address,
  .transaction-choose-item .transaction-choose__balance,
  .transaction-choose-item .transaction-choose__logout {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
    color: #565555;
  }
  .transaction-choose-item .transaction-choose__name::before {
    content: 'Name';
    width: 30%;
    margin-right: 10px;
    font-weight: bold;
  }
  .transaction-choose-item .transaction-choose__address::before {
    content: 'Address';
    width: 30%;
    margin-right: 10px;
    font-weight: bold;
  }
  .transaction-choose-item .transaction-choose__balance::before {
    content: 'Total balance in Euro';
    width: 30%;
    margin-right: 10px;
    font-weight: bold;
  }
  .transaction-choose-item .transaction-choose__logout::before {
    content: 'Logout wallet';
    width: 30%;
    margin-right: 10px;
    font-weight: bold;
  }
  .transaction-choose-item .transaction-choose__address a {
    width: 70%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .transaction-choose input[type="radio"] + label::before {
    top: 50%;
    left: -20px;
  }
  .transaction-choose input[type="radio"]:checked + label::before {
    top: 50%;
    left: -20px;
  }
  .content .import-wallet-form input {
    width: 100%;
  }
  .content .import-wallet-form .btn-for-import {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-top: 20px;
  }
}
@media (max-width: 705px) {
  .orders {
    flex-direction: column;
  }
  .orders-header {
    display: none;
  }
  .orders-item {
    margin-bottom: 10px;
  }
  .orders-item .orders__date,
  .orders-item .orders__otype,
  .orders-item .orders__currency,
  .orders-item .orders__amount,
  .orders-item .orders__status,
  .orders-item .orders__fee {
    display: flex;
    width: 100%;
    margin-bottom: 10px;
    color: #565555;
  }
  .orders-item .orders__date::before {
    content: 'Date';
    width: 30%;
    margin-right: 10px;
    font-weight: bold;
  }
  .orders-item .orders__otype::before {
    content: 'Order Type';
    width: 30%;
    margin-right: 10px;
    font-weight: bold;
  }
  .orders-item .orders__currency::before {
    content: 'Currency';
    width: 30%;
    margin-right: 10px;
    font-weight: bold;
  }
  .orders-item .orders__amount::before {
    content: 'Amount';
    width: 30%;
    margin-right: 10px;
    font-weight: bold;
  }
  .orders-item .orders__status::before {
    content: 'Status';
    width: 30%;
    margin-right: 10px;
    font-weight: bold;
  }
  .orders-item .orders__fee::before {
    content: 'Fee %';
    width: 30%;
    margin-right: 10px;
    font-weight: bold;
  }
  .users {
    flex-direction: column;
  }
  .users-header {
    display: none;
  }
  .users-item {
    margin-bottom: 10px;
  }
  .users-item .users__id,
  .users-item .users__name,
  .users-item .users__email,
  .users-item .users__role,
  .users-item .users__status {
    display: flex;
    width: 100%;
    margin-bottom: 10px;
    color: #565555;
  }
  .users-item .users__id::before {
    content: 'ID';
    width: 30%;
    margin-right: 10px;
    font-weight: bold;
  }
  .users-item .users__name::before {
    content: 'Name';
    width: 30%;
    margin-right: 10px;
    font-weight: bold;
  }
  .users-item .users__email::before {
    content: 'Email';
    width: 30%;
    margin-right: 10px;
    font-weight: bold;
  }
  .users-item .users__role::before {
    content: 'Role';
    width: 30%;
    margin-right: 10px;
    font-weight: bold;
  }
  .users-item .users__status::before {
    content: 'Status';
    width: 30%;
    margin-right: 10px;
    color: #565555;
    font-weight: bold;
  }
  .users-item .users__status {
    color: #03cea4;
  }
  .dashboard-header {
    display: none;
  }
  .dashboard-item {
    display: flex;
    flex-direction: column;
  }
  .dashboard__name,
  .dashboard__amount,
  .dashboard__balance {
    display: flex;
    width: 100%;
    margin-bottom: 10px;
    padding: 0;
  }
  .dashboard__name::before {
    content: 'Token Name';
    width: 40%;
    margin-right: 10px;
    font-weight: bold;
  }
  .dashboard__amount::before {
    content: 'Amount';
    width: 40%;
    margin-right: 10px;
    font-weight: bold;
  }
  .dashboard__balance::before {
    content: 'Balance in €';
    width: 40%;
    margin-right: 10px;
    font-weight: bold;
  }
  .exchange {
    flex-direction: column;
  }
  .exchange-header {
    display: none;
  }
  .exchange-item {
    margin-bottom: 10px;
  }
  .exchange-item .exchange__id,
  .exchange-item .exchange__name,
  .exchange-item .exchange__address,
  .exchange-item .exchange__balance,
  .exchange-item .exchange__logged {
    display: flex;
    width: 100%;
    margin-bottom: 10px;
    color: #565555;
  }
  .exchange-item .exchange__name a {
    width: 70%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .exchange-item .exchange__id::before {
    content: 'ID';
    width: 30%;
    margin-right: 10px;
    font-weight: bold;
  }
  .exchange-item .exchange__name::before {
    content: 'Exchange Name';
    width: 30%;
    margin-right: 10px;
    white-space: pre-wrap;
    font-weight: bold;
  }
  .exchange-item .exchange__address::before {
    content: 'Address';
    width: 30%;
    margin-right: 10px;
    font-weight: bold;
  }
  .exchange-item .exchange__balance::before {
    content: 'Total Balance';
    width: 30%;
    margin-right: 10px;
    font-weight: bold;
  }
  .exchange-item .exchange__logged::before {
    content: 'Logged Users';
    width: 30%;
    margin-right: 10px;
    color: #565555;
    font-weight: bold;
  }
  .transaction {
    flex-direction: column;
  }
  .transaction-header {
    display: none;
  }
  .transaction-item {
    margin-bottom: 10px;
  }
  .transaction-item .transaction__date,
  .transaction-item .transaction__type,
  .transaction-item .transaction__currency,
  .transaction-item .transaction__amount,
  .transaction-item .transaction__recipient,
  .transaction-item .transaction__txId {
    display: flex;
    width: 100%;
    margin-bottom: 10px;
    color: #565555;
  }
  .transaction-item .transaction__recipient a,
  .transaction-item .transaction__txId a {
    width: 70%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .transaction-item .transaction__date::before {
    content: 'Date';
    width: 30%;
    margin-right: 10px;
    font-weight: bold;
  }
  .transaction-item .transaction__type::before {
    content: 'Type';
    width: 30%;
    margin-right: 10px;
    font-weight: bold;
  }
  .transaction-item .transaction__currency::before {
    content: 'Currency';
    width: 30%;
    margin-right: 10px;
    font-weight: bold;
  }
  .transaction-item .transaction__amount::before {
    content: 'Amount';
    width: 30%;
    margin-right: 10px;
    font-weight: bold;
  }
  .transaction-item .transaction__recipient::before {
    content: 'Recipient';
    width: 30%;
    margin-right: 10px;
    font-weight: bold;
  }
  .transaction-item .transaction__txId::before {
    content: 'Tx Id';
    width: 30%;
    margin-right: 10px;
    font-weight: bold;
  }
}
@media (max-width: 600px) {
  .content .form-row .form-group {
    display: block;
    width: 100%;
  }
  .content .form-row .btn-add-tokens,
  .content .btn-attach-token {
    width: 100%;
    margin: 0 0 1rem 0;
  }
  .content .btn-snd-tokens {
    width: 100%;
    height: 45px;
    background: #d2f400;
    color: #707070;
  }
  .content .btn-delete {
    width: 100%;
  }
  .content .btn-crt-request,
  .content .btn-sell,
  .content .btn-for-send {
    width: 100%;
  }
  .col-lg-2 .buy-token .form-group:first-child,
  .col-lg-2 .sell-token .form-group:first-child {
    width: 170%;
  }
  .col-lg-2 .buy-token .form-group:last-child,
  .col-lg-2 .sell-token .form-group:last-child {
    width: 100%;
  }
  .col-lg-2 .buy-token .form-group:last-child input,
  .col-lg-2 .sell-token .form-group:last-child input {
    width: 100%;
  }
  .btn-add-wallet {
    margin-top: 20px;
  }
  h1 span {
    display: block;
  }
  .list {
    display: flex;
    justify-content: center;
  }
}
@media (max-width: 425px) {
  .content {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  .content h1 {
    width: 70%;
    margin: 0 auto;
  }
  .content h2.turquoise,
  .content h2.cherry {
    justify-content: center;
  }
  .content .block-check-confirm--success,
  .content .block-check-confirm--fail,
  .content .confirmed-message h2,
  .content .confirmed-message p {
    text-align: center;
  }
  .content__block {
    border-radius: 0;
  }
  .content .btn-for-import {
    width: 100%;
  }
}
.nav-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 32px;
  padding: 16px 24px;
  background: #fff;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
  color: #565555;
}
.nav-bar__tabs {
  display: flex;
  flex-direction: row;
}
.nav-bar__dashboard {
  justify-content: space-between;
}
.nav-bar__dropdown {
  position: relative;
  min-width: 196px;
  width: 25%;
  margin-left: 20px;
  margin-right: 20px;
  padding: 8px 16px;
  background: #f7f7f7;
  color: #565555;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
}
.nav-bar__dropdown span ion-icon {
  display: block;
  position: absolute;
  top: 35%;
  right: 10px;
}
.nav-bar__dropdown.active ul {
  opacity: 1;
  pointer-events: auto;
}
.nav-bar__dropdown ul {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  padding: 0;
  background: #fff;
  border-radius: 5px;
  font-weight: normal;
  list-style-type: none;
  opacity: 0;
  pointer-events: none;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.05);
  z-index: 9;
}
.nav-bar__dropdown ul a {
  display: block;
  text-decoration: none;
  color: #b7b8b9;
  padding: 8px 16px;
}
.nav-bar__dropdown ul li:not(:first-child) a::after {
  content: ' ';
  position: absolute;
  background: #ebebeb;
  height: 1px;
  margin-top: -8px;
  left: 16px;
  right: 16px;
}
.nav-bar__dropdown ul li:hover a {
  background: #f7f7f7;
}
.nav-bar .calendar {
  position: relative;
  margin-right: auto;
}
.nav-bar .calendar input {
  width: 159px;
  padding: 8px 16px;
  background: #f7f7f7;
  color: #565555;
  border: none;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
}
.nav-bar .calendar ion-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  pointer-events: none;
}
.nav-bar__form-search {
  position: relative;
  margin-left: auto;
  min-width: 279px;
  width: 20%;
}
.nav-bar__form-search-admin {
  position: relative;
  margin-left: 40px;
  margin-right: auto;
  min-width: 279px;
  width: 20%;
}
.nav-bar__form-search input,
.nav-bar__form-search-admin input {
  width: 100%;
  padding: 8px;
  padding-left: 40px;
  background: #fff;
  color: #565555;
  border: none;
  outline: none;
  border-radius: 5px;
}
.nav-bar__form-search input::-webkit-input-placeholder,
.nav-bar__form-search-admin input::-webkit-input-placeholder {
  color: #b7b8b9;
}
.nav-bar__form-search input::-moz-placeholder,
.nav-bar__form-search-admin input::-moz-placeholder {
  color: #b7b8b9;
}
.nav-bar__form-search input:-moz-placeholder,
.nav-bar__form-search-admin input:-moz-placeholder {
  color: #b7b8b9;
}
.nav-bar__form-search input:-ms-input-placeholder,
.nav-bar__form-search-admin input:-ms-input-placeholder {
  color: #b7b8b9;
}
.nav-bar__form-search button,
.nav-bar__form-search-admin button {
  position: absolute;
  top: 22%;
  left: 13px;
  padding: 0;
  margin: 0;
  border: none;
  background: transparent;
}
.nav-bar__form-search button ion-icon,
.nav-bar__form-search-admin button ion-icon {
  position: absolute;
  top: 1px;
  width: 20px;
  height: 20px;
  color: #b7b8b9;
}
@media (min-width: 1440px) {
  .nav-bar {
    margin-bottom: 2.5vw;
    padding: 1vw 1.5vw;
    border-radius: 0.4vw;
  }
  .nav-bar__dropdown {
    margin-left: 1.1vw;
    margin-right: 1.1vw;
    padding: 0.4vw 1vw;
    border-radius: 0.5vw;
  }
  .nav-bar__form-search input,
  .nav-bar__form-search-admin input {
    padding: 0.4vw;
    padding-left: 2.5vw;
    border-radius: 0.5vw;
  }
  .nav-bar__form-search button ion-icon,
  .nav-bar__form-search-admin button ion-icon {
    width: 1.1vw;
    height: 1.1vw;
  }
  .nav-bar__dropdown span ion-icon {
    right: 0.5vw;
  }
  .nav-bar__dropdown ul {
    border-radius: 0.2vw;
  }
  .nav-bar__dropdown ul a {
    padding: 0.4vw 1vw;
  }
  .nav-bar__dropdown ul li:not(:first-child) a::after {
    margin-top: -0.4vw;
    left: 1vw;
    right: 1vw;
  }
  .nav-bar .calendar input {
    width: 11.1vw;
    padding: 0.4vw 1vw;
    border-radius: 0.5vw;
  }
  .nav-bar .calendar ion-icon {
    top: 0.5vw;
    right: 0.5vw;
  }
  .nav-bar__form-search-admin {
    margin-left: 2.5vw;
  }
  .nav-bar__form-search button,
  .nav-bar__form-search-admin button {
    left: 0.8vw;
  }
}
@media (max-width: 800px) {
  .nav-bar__orders .nav-bar__dropdown {
    width: 40%;
    margin: 0 auto;
  }
  .nav-bar__orders .calendar {
    width: 40%;
    margin: 0 auto;
  }
  .nav-bar__orders .calendar input {
    width: 100%;
  }
  .nav-bar__orders form {
    min-width: 240px;
    margin: 15px auto 0;
  }
  .nav-bar__exchange-admin {
    flex-direction: column;
  }
  .nav-bar__exchange-admin form {
    width: 80%;
    margin: 20px auto;
  }
  .nav-bar__exchange-admin .btn-crt-exchange {
    width: 80%;
  }
}
@media (max-width: 620px) {
  .nav-bar .btn-add-users,
  .nav-bar .btn-crt-exchange {
    width: 100%;
  }
  .nav-bar__users form,
  .nav-bar__exchange form {
    width: 100%;
    margin: 15px auto 0;
  }
  .nav-bar__exchange-admin form {
    width: 100%;
  }
}
@media (max-width: 600px) {
  .nav-bar.nav-bar__dashboard {
    display: flex;
    flex-direction: column;
  }
  .nav-bar.nav-bar__dashboard .change-block {
    margin-bottom: 20px;
  }
}
@media (max-width: 572px) {
  .nav-bar__transaction .nav-bar__form-search {
    margin: 15px auto 0;
  }
}
@media (max-width: 500px) {
  .nav-bar__orders .nav-bar__dropdown {
    width: 100%;
    margin: 0 auto;
  }
  .nav-bar__orders .calendar {
    width: 100%;
    margin: 15px auto 0;
  }
  .nav-bar__orders form {
    width: 100%;
    margin: 15px auto 0;
  }
}
@media (max-width: 425px) {
  .nav-bar {
    border-radius: 0;
  }
}
.change-block {
  font-size: 12px;
}
.change-block span {
  color: #b7b8b9;
}
.tabs__item,
.tabs__item--recent {
  padding-right: 24px;
  padding-left: 24px;
}
.tabs__item--recent {
  font-weight: bold;
}
.tabs__link {
  color: #b7b8b9;
  font-weight: bold;
}
.tabs__link:hover {
  color: #2d302d;
  text-decoration: none;
}
.tabs__link--active {
  color: #565555;
  padding-bottom: 20px;
  font-weight: bold;
  border-bottom: 5px solid #d2f400;
}
@media (max-width: 572px) {
  .tabs {
    margin: 0 auto;
  }
  .tabs__link--active {
    padding-top: 11px;
    border-top: 5px solid #d2f400;
    border-bottom: 0;
  }
}
@media (min-width: 1440px) {
  .change-block {
    font-size: 1.1vw;
  }
  .tabs__link--active {
    padding-bottom: 1.3vw;
    border-bottom: 0.3vw solid #d2f400;
  }
}
.content__pages {
  float: right;
}
.page__prev,
.page__next {
  padding-right: 20px;
  padding-left: 20px;
  font-weight: bold;
}
.page a {
  color: #b7b8b9;
  text-decoration: none;
}
@media (max-width: 425px) {
  .page {
    display: flex;
    justify-content: center;
    width: 100%;
  }
}
.popup-succ {
  position: fixed;
  top: 140px;
  right: 20px;
  display: none;
  width: 380px;
  padding: 30px;
  color: #565555;
  background: #fff;
  border-radius: 20px;
  box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.05);
  transition: 1s all;
}
.popup-succ--before {
  display: block;
  position: fixed;
  opacity: 0;
}
.popup-succ--active {
  opacity: 1;
}
.popup-succ h4 {
  margin: auto 0;
  font-size: 16px;
  font-weight: bold;
}
.popup-succ p {
  margin-bottom: auto;
  padding-top: 15px;
  font-size: 14px;
}
.popup-succ__close {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 10px;
  right: 10px;
  color: #565555;
  cursor: pointer;
}
.popup-succ__close ion-icon {
  width: 100%;
  height: 100%;
}
@media (min-width: 1440px) {
  .popup-succ {
    top: 10vw;
    right: 1.1vw;
    width: 21vw;
    padding: 1.7vw;
    border-radius: 1.1vw;
  }
  .popup-succ h4 {
    font-size: 1vw;
  }
  .popup-succ p {
    padding-top: 1vw;
    font-size: 0.9vw;
  }
  .popup-succ__close {
    width: 1.1vw;
    height: 1.1vw;
    top: 0.6vw;
    right: 0.6vw;
  }
}
@media (max-width: 425px) {
  .popup-succ {
    max-width: 280px;
  }
}
.modal-block {
  position: absolute;
  top: 20%;
  left: 0;
  right: 0;
  margin: auto;
  margin-bottom: 60px;
  display: flex;
  flex-direction: row;
  width: 100%;
  background: #fff;
  border-radius: 10px;
  z-index: 100;
}
.modal-block.add-new-user {
  height: 367px;
}
.modal-block.crt-new-exchange {
  height: min-content;
}
.modal-block--shadow {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 99;
  background: rgba(0, 0, 0, 0.3);
  display: none;
}
.modal-block form {
  width: 100%;
}
.modal-block .form-title {
  position: relative;
  padding: 30px;
}
.modal-block .form-title::after {
  content: ' ';
  position: absolute;
  background: #b7b8b9;
  height: 1px;
  bottom: 0px;
  left: 30px;
  right: 30px;
}
.modal-block .btn-invite-user,
.modal-block .btn-crt {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 30px;
}
.add-new-user,
.crt-new-exchange {
  transform: scale(0);
  transition-duration: 0.5s;
}
.modal-block.add-new-user h3,
.modal-block.crt-new-exchange h3 {
  padding-right: 60px;
  font-size: 24px;
  font-weight: normal;
}
.add-new-user__close,
.crt-new-exchange__close {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 30px;
  height: 30px;
  color: #565555;
}
.add-new-user ion-icon,
.crt-new-exchange__close ion-icon {
  width: 100%;
  height: 100%;
}
.crt-new-exchange .form-group:nth-of-type(3) {
  display: flex;
  justify-content: space-between;
}
.crt-new-exchange .form-group:nth-of-type(3) select {
  width: 49%;
}
.crt-new-exchange .form-group:nth-of-type(5) p:nth-of-type(2) {
  display: flex;
  justify-content: space-between;
}
.crt-new-exchange .form-group:nth-of-type(5) input {
  width: 59%;
}
.crt-new-exchange .form-group:nth-of-type(5) select {
  width: 39%;
}
.add-new-user .form-group:nth-of-type(2) {
  width: 80%;
  padding: 30px 30px 0px;
  margin: 0 auto;
}
.add-new-user .form-group:last-of-type {
  width: 80%;
  padding: 30px;
  margin: 0 auto;
}
.crt-new-exchange .form-group {
  width: 80%;
  padding: 30px 30px 0px;
  margin: 0 auto;
}
.add-new-user input,
.crt-new-exchange input,
.add-new-user select,
.crt-new-exchange select {
  width: 100%;
  color: #565555;
  padding: 10px;
  border: 1px solid #edebeb;
  border-radius: 10px;
  outline: none;
}
.modal-block-active {
  display: flex;
  transform: scale(1);
  transition-duration: 0.5s;
}
@media (min-width: 1440px) {
  .modal-block {
    margin-bottom: 3.7vw;
    max-width: 44vw;
    border-radius: 0.6vw;
  }
  .modal-block .form-title {
    padding: 1.7vw;
  }
  .modal-block .form-title::after {
    left: 1.7vw;
    right: 1.7vw;
  }
  .modal-block .btn-invite-user,
  .modal-block .btn-crt {
    margin-bottom: 1.7vw;
  }
  .modal-block.add-new-user h3,
  .modal-block.crt-new-exchange h3 {
    padding-right: 3.7vw;
    font-size: 1.5vw;
  }
  .add-new-user__close,
  .crt-new-exchange__close {
    top: 1.1vw;
    right: 1.1vw;
    width: 1.7vw;
    height: 1.7vw;
  }
  .add-new-user .form-group:nth-of-type(2) {
    padding: 1.7vw 1.7vw 0px;
  }
  .add-new-user .form-group:last-of-type {
    padding: 1.7vw;
  }
  .crt-new-exchange .form-group {
    padding: 1.7vw 1.7vw 0px;
  }
  .add-new-user input,
  .crt-new-exchange input,
  .add-new-user select,
  .crt-new-exchange select {
    padding: 0.6vw;
    border-radius: 0.6vw;
  }
}
@media (max-width: 1439px) {
  .modal-block {
    max-width: 620px;
  }
}
@media (max-width: 680px) {
  .add-new-user,
  .crt-new-exchange {
    width: 90%;
  }
}
@media (max-width: 600px) {
  .add-new-user .form-group:nth-of-type(2),
  .add-new-user .form-group:last-of-type,
  .crt-new-exchange .form-group,
  .crt-new-exchange .form-group:nth-of-type(3) select,
  .crt-new-exchange .form-group:nth-of-type(5) input,
  .crt-new-exchange .form-group:nth-of-type(5) select {
    width: 100%;
  }
  .crt-new-exchange .form-group:nth-of-type(3),
  .crt-new-exchange .form-group:nth-of-type(5) p:nth-child(2) {
    display: flex;
    flex-direction: column;
  }
  .crt-new-exchange .form-group:nth-of-type(3) select:first-child,
  .crt-new-exchange .form-group:nth-of-type(5) input {
    margin-bottom: 30px;
  }
  .modal-block.crt-new-exchange {
    height: min-content;
  }
}
@media (max-width: 345px) {
  .add-new-user .btn-invite-user {
    width: 100%;
    max-width: 226px;
  }
  .crt-new-exchange .btn-crt {
    width: 100%;
    max-width: 226px;
  }
}
.yellow {
  background: #ffdb58;
}
.turquoise {
  color: #03cea4;
}
.cherry {
  color: #d93d4b;
}
.green {
  background: #68de5c;
}
.purple {
  background: #7e9dff;
}
.lemon {
  background: #c8e629;
}
.turquoise-bg {
  background: #03cea4;
}
.blue {
  background: #4aaee3;
}
/* fonts */
html,
body {
  font-family: 'Heebo', sans-serif;
  background: #fafafa;
  height: 100%;
  width: 100%;
  color: #565555;
  overflow-x: hidden;
}
a.active.focus,
a.active:focus,
a.focus,
a:active.focus,
a:active:focus,
a:focus,
button.active.focus,
button.active:focus,
button.focus,
button:active.focus,
button:active:focus,
button:focus,
.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus,
.form-control:focus {
  outline: 0 !important;
  outline-color: transparent !important;
  outline-width: 0 !important;
  outline-style: none !important;
  box-shadow: 0 0 0 0 rgba(0, 123, 255, 0) !important;
}
.form-control:focus {
  border-color: #dededf;
}
.h-full {
  height: 100%;
}
.mtop-30 {
  margin-top: 30px;
}
.mtb-20 {
  margin-top: 20px;
  margin-bottom: 20px;
}
.mtb-30 {
  margin-top: 30px;
  margin-bottom: 30px;
}
.mbttm-20 {
  margin-bottom: 20px;
}
.mtop-m13 {
  margin-top: -13px;
}
@media (min-width: 1440px) {
  * {
    font-size: 1.1vw;
  }
  .mtb-30 {
    margin-top: 2.1vw;
    margin-bottom: 2.1vw;
  }
  .ml-25v {
    margin-left: 2.5vw;
  }
}
@media (max-width: 1439px) {
  .pl-60 {
    padding-left: 60px;
  }
  .ml-35 {
    margin-left: 35px;
  }
}
@media (max-width: 991px) {
  .mbttm-30 {
    margin-bottom: 30px;
  }
}
@media (max-width: 500px) {
  .mtop-0 {
    margin: 0 auto;
  }
  .mbttm-20 {
    margin-bottom: 20px;
  }
}
@media (max-width: 425px) {
  .mtb-20 {
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
