.modal-block {
  position: absolute;
  top: 25%;
  left: 0;
  right: 0;
  margin: auto;
  display: flex;
  flex-direction: row;
  z-index: 100;
  width: 620px;
  height: 367px;
  box-shadow: 0px 24px 24px rgba(0, 0, 0, 0.25);
}
.modal-block--shadow {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 99;
  background: rgba(0, 0, 0, 0.6);
  display: none;
}
