.modal-block {
    position      : absolute;
    top           : 20%;
    left          : 0;
    right         : 0;
    margin        : auto;
    margin-bottom : 60px;
    display       : flex;
    flex-direction: row;
    width         : 100%;
    background    : @white;
    border-radius : 10px;
    z-index       : 100;

    &.add-new-user {
        height: 367px;
    }

    &.crt-new-exchange {
        height: min-content;
    }

    &--shadow {
        position  : fixed;
        top       : 0;
        bottom    : 0;
        left      : 0;
        right     : 0;
        z-index   : 99;
        background: rgba(0, 0, 0, 0.3);
        display   : none;
    }

    & form {
        width: 100%;
    }

    & .form-title {
        position: relative;
        padding : 30px;
    }

    & .form-title::after {
        content   : ' ';
        position  : absolute;
        background: @grey;
        height    : 1px;
        bottom    : 0px;
        left      : 30px;
        right     : 30px;
    }

    & .btn-invite-user,
    & .btn-crt {
        display        : flex;
        justify-content: center;
        margin         : 0 auto;
        margin-bottom  : 30px;
    }

}

.add-new-user,
.crt-new-exchange {
    transform          : scale(0);
    transition-duration: 0.5s;
}

.modal-block.add-new-user h3,
.modal-block.crt-new-exchange h3 {
    padding-right: 60px;
    font-size    : 24px;
    font-weight  : normal;
}

.add-new-user__close,
.crt-new-exchange__close {
    position: absolute;
    top     : 20px;
    right   : 20px;
    width   : 30px;
    height  : 30px;
    color   : #565555;
}

.add-new-user ion-icon,
.crt-new-exchange__close ion-icon {
    width : 100%;
    height: 100%;
}

.crt-new-exchange .form-group:nth-of-type(3) {
    display        : flex;
    justify-content: space-between;
}

.crt-new-exchange .form-group:nth-of-type(3) select {
    width: 49%;
}

.crt-new-exchange .form-group:nth-of-type(5) p:nth-of-type(2) {
    display        : flex;
    justify-content: space-between;
}

.crt-new-exchange .form-group:nth-of-type(5) input {
    width: 59%;
}

.crt-new-exchange .form-group:nth-of-type(5) select {
    width: 39%;
}

.add-new-user .form-group:nth-of-type(2) {
    width  : 80%;
    padding: 30px 30px 0px;
    margin : 0 auto;
}

.add-new-user .form-group:last-of-type {
    width  : 80%;
    padding: 30px;
    margin : 0 auto;
}

.crt-new-exchange .form-group {
    width  : 80%;
    padding: 30px 30px 0px;
    margin : 0 auto;
}

.add-new-user input,
.crt-new-exchange input,
.add-new-user select,
.crt-new-exchange select {
    width        : 100%;
    color        : #565555;
    padding      : 10px;
    border       : 1px solid #edebeb;
    border-radius: 10px;
    outline      : none;
}

.modal-block-active {
    display            : flex;
    transform          : scale(1);
    transition-duration: 0.5s;
}

@media (min-width: 1440px) {
    .modal-block {
        margin-bottom : 3.7vw;
        max-width     : 44vw;
        border-radius    : 0.6vw;

        &.add-new-user {
            // height: 367px;
        }

        & .form-title {
            padding: 1.7vw;
        }

        & .form-title::after {
            left : 1.7vw;
            right: 1.7vw;
        }

        & .btn-invite-user,
        & .btn-crt {
            margin-bottom: 1.7vw;
        }

    }

    .modal-block.add-new-user h3,
    .modal-block.crt-new-exchange h3 {
        padding-right: 3.7vw;
        font-size       : 1.5vw;
    }

    .add-new-user__close,
    .crt-new-exchange__close {
        top   : 1.1vw;
        right : 1.1vw;
        width : 1.7vw;
        height: 1.7vw;
    }

    .add-new-user .form-group:nth-of-type(2) {
        padding: 1.7vw 1.7vw 0px;
    }

    .add-new-user .form-group:last-of-type {
        padding: 1.7vw;
    }

    .crt-new-exchange .form-group {
        padding: 1.7vw 1.7vw 0px;
    }

    .add-new-user input,
    .crt-new-exchange input,
    .add-new-user select,
    .crt-new-exchange select {
        padding      : 0.6vw;
        border-radius: 0.6vw;
    }
}

@media (max-width: 1439px) {
    .modal-block {
        max-width: 620px;
    }
}

@media (max-width: 680px) {

    .add-new-user,
    .crt-new-exchange {
        width: 90%;
    }
}

@media (max-width: 600px) {

    .add-new-user .form-group:nth-of-type(2),
    .add-new-user .form-group:last-of-type,
    .crt-new-exchange .form-group,
    .crt-new-exchange .form-group:nth-of-type(3) select,
    .crt-new-exchange .form-group:nth-of-type(5) input,
    .crt-new-exchange .form-group:nth-of-type(5) select {
        width: 100%;
    }

    .crt-new-exchange .form-group:nth-of-type(3),
    .crt-new-exchange .form-group:nth-of-type(5) p:nth-child(2) {
        display       : flex;
        flex-direction: column;
    }

    .crt-new-exchange .form-group:nth-of-type(3) select:first-child,
    .crt-new-exchange .form-group:nth-of-type(5) input {
        margin-bottom: 30px;
    }

    .modal-block.crt-new-exchange {
        height: min-content;
    }
}

@media (max-width: 345px) {
    .add-new-user {

        & .btn-invite-user {
            width    : 100%;
            max-width: 226px;
        }
    }

    .crt-new-exchange {
        & .btn-crt {
            width    : 100%;
            max-width: 226px;
        }
    }
}