.nav-bar {
    display       : flex;
    flex-direction: row;
    align-items   : center;
    flex-wrap     : wrap;
    width         : 100%;
    margin-bottom : 32px;
    padding       : 16px 24px;
    background    : @white;
    box-shadow    : 0 10px 30px rgba(0, 0, 0, 0.05);
    border-radius : 8px;
    color         : @dark-grey;

    &__tabs {
        display       : flex;
        flex-direction: row;
    }

    &__dashboard {
        justify-content: space-between;
    }

    &__dropdown {
        position     : relative;
        min-width    : 196px;
        width        : 25%;
        margin-left  : 20px;
        margin-right : 20px;
        padding      : 8px 16px;
        background   : #f7f7f7;
        color        : @dark-grey;
        border-radius: 5px;
        outline      : none;
        cursor       : pointer;
    }

    &__dropdown span ion-icon {
        display : block;
        position: absolute;
        top     : 35%;
        right   : 10px;
    }

    &__dropdown.active ul {
        opacity       : 1;
        pointer-events: auto;
    }

    &__dropdown ul {
        position       : absolute;
        top            : 100%;
        left           : 0;
        right          : 0;
        padding        : 0;
        background     : #fff;
        border-radius  : 5px;
        font-weight    : normal;
        list-style-type: none;
        opacity        : 0;
        pointer-events : none;
        box-shadow     : 0 10px 25px rgba(0, 0, 0, 0.05);
        z-index        : 9;
    }

    &__dropdown ul a {
        display        : block;
        text-decoration: none;
        color          : @grey;
        padding        : 8px 16px;
    }

    &__dropdown ul li:not(:first-child) a::after {
        content   : ' ';
        position  : absolute;
        background: lighten(@grey, 20%);
        height    : 1px;
        margin-top: -8px;
        left      : 16px;
        right     : 16px;
    }

    &__dropdown ul li:hover a {
        background: darken(@light-grey, 1%);
    }

    & .calendar {
        position    : relative;
        margin-right: auto;
    }

    & .calendar input {
        width        : 159px;
        padding      : 8px 16px;
        background   : #f7f7f7;
        color        : @dark-grey;
        border       : none;
        border-radius: 5px;
        outline      : none;
        cursor       : pointer;
    }

    & .calendar ion-icon {
        position      : absolute;
        top           : 10px;
        right         : 10px;
        pointer-events: none;
    }

    &__form-search {
        position   : relative;
        margin-left: auto;
        min-width  : 279px;
        width      : 20%;
    }

    &__form-search-admin {
        position    : relative;
        margin-left : 40px;
        margin-right: auto;
        min-width   : 279px;
        width       : 20%;
    }

    &__form-search input,
    &__form-search-admin input {
        width        : 100%;
        padding      : 8px;
        padding-left : 40px;
        background   : @white;
        color        : @dark-grey;
        border       : none;
        outline      : none;
        border-radius: 5px;
    }

    &__form-search input::-webkit-input-placeholder,
    &__form-search-admin input::-webkit-input-placeholder {
        color: @grey;
    }

    &__form-search input::-moz-placeholder,
    &__form-search-admin input::-moz-placeholder {
        color: @grey;
    }

    &__form-search input:-moz-placeholder,
    &__form-search-admin input:-moz-placeholder {
        color: @grey;
    }

    &__form-search input:-ms-input-placeholder,
    &__form-search-admin input:-ms-input-placeholder {
        color: @grey;
    }

    &__form-search button,
    &__form-search-admin button {
        position  : absolute;
        top       : 22%;
        left      : 13px;
        padding   : 0;
        margin    : 0;
        border    : none;
        background: transparent;
    }

    &__form-search button ion-icon,
    &__form-search-admin button ion-icon {
        position: absolute;
        top     : 1px;
        width   : 20px;
        height  : 20px;
        color   : #b7b8b9;
    }

    @media (min-width: 1440px) {
        margin-bottom: 2.5vw;
        padding      : 1vw 1.5vw;
        border-radius: 0.4vw;

        &__dropdown {
            margin-left  : 1.1vw;
            margin-right : 1.1vw;
            padding      : 0.4vw 1vw;
            border-radius: 0.5vw;
        }

        &__form-search input,
        &__form-search-admin input {
            padding      : 0.4vw;
            padding-left : 2.5vw;
            border-radius: 0.5vw;
        }

        &__form-search button ion-icon,
        &__form-search-admin button ion-icon {
            width : 1.1vw;
            height: 1.1vw;
        }

        &__dropdown span ion-icon {
            right: 0.5vw;
        }

        &__dropdown ul {
            border-radius     : 0.2vw;
        }

        &__dropdown ul a {
            padding: 0.4vw 1vw;
        }

        &__dropdown ul li:not(:first-child) a::after {
            margin-top: -0.4vw;
            left      : 1vw;
            right     : 1vw;
        }

        & .calendar input {
            width        : 11.1vw;
            padding      : 0.4vw 1vw;
            border-radius: 0.5vw;
        }

        & .calendar ion-icon {
            top  : 0.5vw;
            right: 0.5vw;
        }

        &__form-search-admin {
            margin-left : 2.5vw;
        }

        &__form-search button,
        &__form-search-admin button {
            left      : 0.8vw;
        }
    }

    @media (max-width: 800px) {

        &__orders .nav-bar__dropdown {
            width : 40%;
            margin: 0 auto;
        }

        &__orders .calendar {
            width : 40%;
            margin: 0 auto;
        }

        &__orders .calendar input {
            width: 100%;
        }

        &__orders form {
            min-width: 240px;
            margin   : 15px auto 0;
        }

        &__exchange-admin {
            flex-direction: column;

            & form {
                width : 80%;
                margin: 20px auto;
            }

            & .btn-crt-exchange {
                width: 80%;
            }
        }
    }

    @media (max-width: 620px) {

        & .btn-add-users,
        & .btn-crt-exchange {
            width: 100%;
        }

        &__users form,
        &__exchange form {
            width : 100%;
            margin: 15px auto 0;
        }

        &__exchange-admin form {
            width: 100%;
        }
    }

    @media (max-width: 600px) {
        &.nav-bar__dashboard {
            display       : flex;
            flex-direction: column;

            & .change-block {
                margin-bottom: 20px;
            }
        }
    }

    @media (max-width: 572px) {
        &__transaction .nav-bar__form-search {
            margin: 15px auto 0;
        }
    }

    @media (max-width: 500px) {
        &__orders .nav-bar__dropdown {
            width : 100%;
            margin: 0 auto;
        }

        &__orders .calendar {
            width : 100%;
            margin: 15px auto 0;
        }

        &__orders form {
            width : 100%;
            margin: 15px auto 0;
        }
    }

    @media (max-width: 425px) {
        border-radius: 0;
    }
}

.change-block {
    font-size: 12px;
}

.change-block span {
    color: @grey;
}

.tabs {

    &__item,
    &__item--recent {
        padding-right: 24px;
        padding-left : 24px;
    }

    &__item--recent {
        font-weight: bold;
    }

    &__link {
        color      : @grey;
        font-weight: bold;
    }

    &__link:hover {
        color          : @light-black;
        text-decoration: none;
    }

    &__link--active {
        color         : @dark-grey;
        padding-bottom: 20px;
        font-weight   : bold;
        border-bottom : 5px solid @light-green;
    }

    @media (max-width: 572px) {

        margin: 0 auto;

        &__link--active {
            padding-top  : 11px;
            border-top   : 5px solid @light-green;
            border-bottom: 0;
        }
    }
}

@media (min-width: 1440px) {
    .change-block {
        font-size: 1.1vw;
    }

    .tabs {
        &__link--active {
            padding-bottom: 1.3vw;
            border-bottom : 0.3vw solid @light-green;
        }
    }
}