.content {
    &__pages {
        float: right;
    }
}

.page {

    &__prev,
    &__next {
        padding-right: 20px;
        padding-left : 20px;
        font-weight  : bold;
    }

    a {
        color          : @grey;
        text-decoration: none;
    }

    @media (max-width: 425px) {
        display        : flex;
        justify-content: center;
        width          : 100%;
    }
}
