.popup-succ {
    position     : fixed;
    top          : 140px;
    right        : 20px;
    display      : none;
    width        : 380px;
    padding      : 30px;
    color        : #565555;
    background   : @white;
    border-radius: 20px;
    box-shadow   : 0 0 20px 10px rgba(0, 0, 0, 0.05);
    transition   : 1s all;

    &--before {
        display : block;
        position: fixed;
        opacity : 0;
    }

    &--active {
        opacity: 1;
    }

    h4 {
        margin     : auto 0;
        font-size  : 16px;
        font-weight: bold;
    }

    p {
        margin-bottom: auto;
        padding-top  : 15px;
        font-size    : 14px;
    }

    &__close {
        position: absolute;
        width   : 20px;
        height  : 20px;
        top     : 10px;
        right   : 10px;
        color   : #565555;
        cursor  : pointer;
    }

    &__close ion-icon {
        width : 100%;
        height: 100%;
    }
}

@media (min-width: 1440px) {

    .popup-succ {
        top          : 10vw;
        right        : 1.1vw;
        width        : 21vw;
        padding      : 1.7vw;
        border-radius: 1.1vw;

        h4 {
            font-size: 1vw;
        }

        p {
            padding-top: 1vw;
            font-size  : 0.9vw;
        }

        &__close {
            width : 1.1vw;
            height: 1.1vw;
            top   : 0.6vw;
            right : 0.6vw;
        }
    }

}

@media (max-width: 425px) {
    .popup-succ {
        max-width: 280px;
    }
}