.main {
    min-height : 100%;
    padding-top: 90px;

    &__side-bar {
        margin     : 0;
        padding-top: 120px;
        position   : absolute;
        top        : 0;
        min-width  : 208px;
        min-height : 100%;
        background : @light-grey;
        box-shadow : 15px 0 40px rgba(0, 0, 0, 0.05);
        z-index    : 10;
    }

    &__side-bar ul {
        padding        : 0;
        list-style-type: none;
    }

    &__side-bar ul li {
        padding: 10px 30px;
        color  : #b7b8b9;
    }

    &__side-bar ul li a {
        display        : flex;
        align-items    : center;
        color          : #b7b8b9;
        text-decoration: none;
    }

    &__side-bar ul li.active {
        color     : #565555;
        background: #ecebeb;
    }

    &__side-bar ul li a.active {
        color: #565555;
    }

    &__side-bar a:hover {
        text-decoration: none;
        color          : #565555;
    }

    &__side-bar ion-icon {
        margin-right: 10px;
    }

    &__side-bar-popup-btn {
        position                  : absolute;
        top                       : 90px;
        left                      : 0;
        content                   : ' ';
        width                     : 50px;
        height                    : 50px;
        background                : @light-green;
        border-top-right-radius   : 50%;
        border-bottom-right-radius: 50%;
        box-shadow                : 10px 5px 14px rgba(0, 0, 0, 0.05);
        transition                : 0.5s;
        transform                 : translateX(0%);
        z-index                   : 10;
    }

    &__side-bar-popup-btn ion-icon {
        position: absolute;
        left    : 5px;
        top     : 10px;
        width   : 30px;
        height  : 30px;
        color   : #565555;
    }

    &__side-bar-popup {
        margin     : 0;
        padding-top: 90px;
        position   : absolute;
        top        : 0;
        width      : 208px;
        min-height : 100%;
        max-height : 100vh;
        overflow-y : auto;
        background : @light-grey;
        box-shadow : 15px 0 40px rgba(0, 0, 0, 0.05);
        z-index    : 10;
        transition : 0.5s;
        transform  : translateX(-100%);
    }

    &__side-bar-popup.active {
        transform: translateX(0%);
    }

    &__side-bar-popup ul {
        display   : block;
        padding   : 0;
        margin    : 0;
        list-style: none;
    }

    &__side-bar-popup ul li {
        padding: 10px 10px 10px 30px;
        color  : #b7b8b9;
    }

    &__side-bar-popup ul li.active {
        color     : #565555;
        background: #ecebeb;
    }

    &__side-bar-popup ul li a {
        display        : flex;
        align-items    : center;
        color          : #b7b8b9;
        text-decoration: none;
    }

    &__side-bar-popup ul li a.active {
        color: #565555;
    }

    &__side-bar-popup a:hover {
        text-decoration: none;
        color          : #565555;
    }

    &__side-bar-popup-btn--active {
        transform: translateX(208px);
    }
}

@media (min-width: 1440px) {
    .main {
        padding-top: 6.8vw;

        &__side-bar {
            padding-top: 8.8vw;
            width      : 15vw;
        }

        &__side-bar ul li {
            padding: 0.7vw 2.5vw;
            color  : #b7b8b9;
        }
    }
}

@media (max-width: 1080px) {
    .main {
        padding-top: 60px;

        &__side-bar-popup ul li a ion-icon {
            margin-right: 10px;
        }
    }
}